<template>
  <div>
    <v-container class="m-0 mt-3 mb-3">
      <v-row class="mx-0 px-0 col-12 justify-space-between">
        <h1 class="openSans-400 fz-24">{{ $vuetify.lang.t('$vuetify.projects.labels.myProject') }}</h1>
        <v-menu
          offset-y
          nudge-left="88"
          :nudge-bottom="$vuetify.breakpoint.xs ? '' : 8"
          :nudge-top="$vuetify.breakpoint.xs ? 128 : ''"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-if="$vuetify.breakpoint.xs" v-bind="attrs" v-on="on" color="primary" class="fab-add-project" fab>
              <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-btn v-else color="primary" v-bind="attrs" v-on="on" v-bind:disabled="!creationAllowed">
              {{ $vuetify.lang.t('$vuetify.projects.buttons.addProject') }}<v-icon class="ml-1">mdi-menu-down</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item v-for="({ title, link, isComingSoon }) in addProjectTypes" :key="title" link :to="link">
              <v-list-item-title class="d-flex list-title items-center">
                <div>{{ title }}</div>
                <div class="coming-soon-text" v-if="isComingSoon">{{ $vuetify.lang.t('$vuetify.projects.labels.comingSoon') }}</div>
              </v-list-item-title>
            </v-list-item>
            <div class="adding-new-project">
              <v-icon color="grey darken-3" size="28">mdi-information-outline</v-icon>
              <div>
              {{ $vuetify.lang.t('$vuetify.projects.labels.addingNewProject') }}
              </div>
            </div>
          </v-list>
        </v-menu>
      </v-row>
      <div class="card-wrapper">
        <project-card v-for="project in projects" :key="project.id" :project="project" v-on:refresh="getProjects"></project-card>
      </div>
    </v-container>
  </div>
</template>

<script>
import ProjectCard from '@/modules/projects/components/ProjectCard.vue'
import ProjectService from "@/modules/projects/services/ProjectService";
export default {

  name: 'MyProjects',

  components: { ProjectCard },

  data () {
    return {
      projects: [],
      creationAllowed: false,
      addProjectTypes: [
        {
          title: this.$vuetify.lang.t('$vuetify.projects.labels.insights'),
          isComingSoon: true
        },
        {
          title: this.$vuetify.lang.t('$vuetify.projects.labels.intelligentLiteratureMonitoring'),
          link: { name: 'NewProject', params: { projectType: 'ILM' } }
        },
        {
          title: this.$vuetify.lang.t('$vuetify.projects.labels.ivdrmdr'),
          isComingSoon: true
        },
        {
          title: this.$vuetify.lang.t('$vuetify.projects.labels.medicalGuidelines'),
          isComingSoon: true
        },
        {
          title: this.$vuetify.lang.t('$vuetify.projects.labels.medicalInformation'),
          isComingSoon: true
        },
          {
          title: this.$vuetify.lang.t('$vuetify.projects.labels.medicalEducation'),
          isComingSoon: true
        }
      ]
    }
  },
  created() {
    this.getProjects()
  },
  methods :{
    getProjects() {
      let projects = []
      ProjectService.find().then(response => {
        projects.push({
          title: 'Learn how to add a Project',
          type: 'Training',
          training: true,
          id: "0x3dbd0747c",
          preview: 'https://i.imgur.com/4fAKt2w.png',
          link:"https://youtu.be/RKenFe_OVWQ"
        })
        if (response.data.data) {
          this.creationAllowed = true
          for (let project of response.data.data) {
            let previewImage =  'http://c.files.bbci.co.uk/D505/production/_115033545_gettyimages-1226314512.jpg'
            if (project.project_settings && project.project_settings.image) {
              previewImage = project.project_settings.image
            } else if (project.account && project.account[0].ilm_default_project_image){
              previewImage = project.account[0].ilm_default_project_image
            }
            projects.push({
              id: project.uid,
              title: project.project_name,
              type: project.project_type,
              available: project.active || false,
              preview: previewImage
            })
          }
        }
      }).catch(e => {
        console.log(e)
        this.creationAllowed = false
      })
      this.projects = projects
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~vuetify/src/styles/settings/_variables';

.fab-add-project {
  bottom: 12px;
  right: 12px;
  position: fixed;
  z-index: 100;
}

.card-wrapper {
  align-items: stretch;
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-items: stretch;
  margin-top: 21px;
  margin-bottom: 60px;

  grid-template-columns: 1fr;
  @media #{map-get($display-breakpoints, 'sm-and-up')} {
    grid-template-columns: repeat(2, 1fr);
  }
  @media #{map-get($display-breakpoints, 'md-and-up')} {
    grid-template-columns: repeat(3, 1fr);
  }
  @media #{map-get($display-breakpoints, 'lg-and-up')} {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: #{map-get($grid-breakpoints, 'xl')}) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.list-title {
  white-space: nowrap;
}

.coming-soon-text {
  color: #0a609f;
  font-size: .8rem;
  line-height: 1.75;
  margin-left: .5rem;
}

.adding-new-project {
  background-color: #f4f8ff;
  display: flex;
  font-weight: 300;
  margin: .5rem 0 -.5rem;
  max-width: 260px;
  padding: .5rem 1rem;
  white-space: normal;


  & > div:last-child {
    flex: 1;
    margin-left: .5rem;

  }
}

</style>
