<template>
  <div :class="`wrapper${$vuetify.breakpoint.mobile ? ' mobile' : ''}`">
    <div class="banner">
      <new-project-banner
        :current-step="currentStep"
      />
    </div>
    <div class="content">
      <new-project-form :edit-mode="editMode" :current-step="currentStep" :next="nextStep" :previous-step="previousStep" />
    </div>
  </div>
</template>

<script>
import NewProjectBanner from '@/modules/projects/components/NewProjectBanner.vue'
import NewProjectForm from '@/modules/projects/components/NewProjectForm.vue'

export default {

  name: 'NewProject',

  components: { NewProjectBanner, NewProjectForm },
  data () {
    return {
      currentStep: 1,
      editMode: false
    }
  },
  methods: {
    nextStep() {
      this.currentStep += 1
    },
    previousStep() {
      this.currentStep -= 1
    }
  },
  created() {
    this.editMode = this.$route.name == 'EditProject'
  }
}
</script>

<style lang="css" scoped>
.wrapper {
  display: flex;
}
.banner {
  background-color: #F2F5F8;
  flex: 3;
  min-width: 14rem;
}
.content {
  flex: 12;
}

.wrapper.mobile {
  flex-direction: column;
}

.wrapper.mobile .banner {
  align-items: center;
  display: flex;
  flex: 0;
  justify-content: center;
  min-height: 10rem;
  min-width: 100%;
}
</style>