<template>
  <v-card elevation="1" class="article">
    <v-card-text>
      <div :class="`d-flex px-6 py-3 ${showExpanded ? ' expanded' : ''}`">
        <div :class="`flex-grow-1 pr-2 py-1 ${this.$vuetify.breakpoint.mobile ? 'pl-0' : 'pl-8'}`">
          <h3
            class="title font-weight-regular primary--text mb-2"
          >
            {{ data.title }}
          </h3>
          <div class="fz-12 d-flex flex-wrap">
            <span v-if="data.journal" class="mr-3">
              <v-icon size="28">mdi-script-text-outline</v-icon>
              <i>{{ data.journal }}</i>
            </span>

            <span class="mr-3">
              <authors-labels :authors="data.authors" hideEmptyAuthors />
            </span>

            <span class="mr-3">
              <v-icon>mdi-file-document-outline</v-icon>
              {{ publicationType }}
            </span>

            <span class="mr-3">
              <v-icon>mdi-bullhorn-outline</v-icon>
              {{ formattedPublicationDate }}
            </span>
          </div>

          <div class="badge-container">
            <badge
              class="mx-1 my-1"
              v-for="({ inferred, feedback, text }, index) in badges"
              :key="text"
              :userMode="inferred !== feedback"
              checkbox
              :checked="feedback"
              @check="() => badgeChecked(index)"
            >
              {{ text }}
            </badge>
            <span style="color: #0082e0">
              {{ feedbackText }}
            </span>
          </div>

          <div v-show="showExpanded" class="mt-6 openSans-400 fz-12">
            {{ $vuetify.lang.t('$vuetify.ivdr.labels.articleLinks').replace(/\$1/g, data.article_links.length) }}
          </div>
          <div v-show="showExpanded">
            <div class="mt-1" v-for="link in data.article_links" :key="link">
              <a :href="link" class="py-2 external-link" target="_blank">{{ (data.article_links.length === 1 && data.doi) ? data.doi : link }}</a>
              <v-icon size="14" class="ml-1">mdi-open-in-new</v-icon>
            </div>
          </div>

        </div>
        <button class="d-flex" @click="toggleExpand">
          <v-icon v-if="showExpanded">mdi-chevron-up-circle-outline</v-icon>
          <v-icon v-else>mdi-chevron-down-circle-outline</v-icon>
        </button>
      </div>
      <div v-show="showExpanded" class="summary my-5 mx-14 fz-16">
        {{ data.abstract || data.summary }}
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import Tools from '@/modules/common/utils/Tools.mjs'

import AuthorsLabels from '../components/AuthorsLabels.vue'
import { Badge } from 'ingestor-vue-components'

export default {
  name: 'Article',
  components: {
    AuthorsLabels,
    Badge
  },
  props: {
    data: Object,
    expanded: Boolean,
    isRelevant: Boolean
  },
  data () {
    return {
      useInnerExpanded: false,
      innerExpanded: false,
      // This will come from the server
      userModified: [
        // tagKeyword
      ]
    }
  },
  computed: {
    publicationType () {
      const article = this.data
      return (
        article.publication_type
          ? article.publication_type instanceof Array
            ? article.publication_type.join(', ') || article.type
            : article.publication_type
          : article.type
      )
    },
    badges () {
      return (
        [
          {
            inferredProp: 'inferred_analyte_subject',
            feedbackProp: 'feedback_analyte_subject',
            inferred: this.data['inferred_analyte_subject'],
            feedback: this.data['feedback_analyte_subject'],
            text: this.$vuetify.lang.t('$vuetify.ivdr.articles.tags.analyteSubject')
          },
          {
            inferredProp: 'inferred_human_study',
            feedbackProp: 'feedback_human_study',
            inferred: this.data['inferred_human_study'],
            feedback: this.data['feedback_human_study'],
            text: this.$vuetify.lang.t('$vuetify.ivdr.articles.tags.humanStudy')
          },
          {
            inferredProp: 'inferred_performance_study',
            feedbackProp: 'feedback_performance_study',
            inferred: this.data['inferred_performance_study'],
            feedback: this.data['feedback_performance_study'],
            text: this.$vuetify.lang.t('$vuetify.ivdr.articles.tags.performanceStudy')
          },
          {
            inferredProp: 'inferred_intended_use',
            feedbackProp: 'feedback_intended_use',
            inferred: this.data['inferred_intended_use'],
            feedback: this.data['feedback_intended_use'],
            text: this.$vuetify.lang.t('$vuetify.ivdr.articles.tags.intended')
          }
        ]
      )
    },
    showExpanded () {
      return this.useInnerExpanded ? this.innerExpanded : this.expanded
    },
    formattedPublicationDate() {
      return Tools.formatDate(this.data.publication_date, true)
    },
    feedbackText () {
      return (
        this.isRelevant
          ? this.badges.some(badge => !badge.feedback)
          : this.badges.every(badge => badge.feedback)
      )
        ? this.$vuetify.lang.t('$vuetify.ivdr.articles.feedback').replace(
            /\$1/g,
            this.isRelevant
              ? this.$vuetify.lang.t('$vuetify.ivdr.articles.nonRelevant')
              : this.$vuetify.lang.t('$vuetify.ivdr.articles.relevant')
          )
        : ''
    }
  },
  watch: {
    expanded () {
      this.useInnerExpanded = false
      if (this.expanded || this.innerExpanded) {
        // if this is expanded, propagate an event to the parent to load more data
        this.$emit('expanded', this.data.article_id)
      }
    },
    useInnerExpanded () {
      if (this.expanded || this.innerExpanded) {
        // if this is expanded, propagate an event to the parent to load more data
        this.$emit('expanded', this.data.article_id)
      }
    }
  },
  methods: {
    badgeChecked(index) {
      const badge = this.badges[index]
      this.$emit('badgeUpdate', this.data.article_id, {
        [badge.feedbackProp]: !badge.feedback
      })
    },
    toggleExpand() {
      this.innerExpanded = this.useInnerExpanded
        ? !this.innerExpanded
        : !this.expanded
      this.useInnerExpanded = true
    }
  }
}
</script>

<style lang="css" scoped>
.article {
  box-shadow: 0 0 0 #000 !important;
  border: 1px solid rgb(0,0,0,.2);
  overflow: hidden;
}
.article > div:first-child {
  width: 100%;
  position: relative;
  padding: 0;
}
.article:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
}
.title {
  font-size: 14px !important;
  line-height: 1.8 !important;
}

.article:not(:last-of-type) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.expanded { 
  background-color: #F3F5F8;
}

.badge-container {
  margin: .5rem -.25rem;
}

.external-link {
  color: #333;

}
.external-link:hover {
  color: #666;
}
.external-link:visited {
  color: #484848;
}

.summary {
  line-height: 30px;
  max-width: 1000px;
}
</style>
