<template>
  <div class="article-page-wrapper">
    <router-link class="back-link" :to="`/ilm/${ this.$route.params.projectId }`">
      <ChevronLeftIcon />{{ l10n('backToProjects') }}
    </router-link>
    <div v-if="loading" class="loading">
      <LoadingIcon />
    </div>
    <Article
      class="article"
      v-else
      :l10n="l10n"
      v-bind="article"
      @bookmarkToggled="toggleBookmark"
    />
  </div>
</template>

<script>
import ProjectService from '@/modules/projects/services/ProjectService.js'
import Article from '../components/Article.vue'
import ChevronLeftIcon from '@/modules/common/components/icons/ChevronLeftIcon.vue'
import LoadingIcon from '@/modules/common/components/icons/LoadingIcon.vue'

import parseArticle from '../utils/parseArticle.js'

export default {
  name: 'ArticleView',
  components: {
    Article,
    ChevronLeftIcon,
    LoadingIcon
  },
  data () {
    const l10n = (key, ...args) => args.reduce((str, replaceStr, index) => (
      str.replaceAll(`$${index + 1}`, replaceStr)
    ), this.$vuetify.lang.t(`$vuetify.ilmUpdate.${key}`))
    return {
      article: null,
      l10n,
      loading: true,
      name: ''
    }
  },
  methods: {
    articleLink (articleId) {
      const { projectId } = this.$route.params
      return `${projectId}/${articleId}`
    },
    reload (options) {
      const { silent } = options || {}
      const { projectId, articleId } = this.$route.params
      if (!silent) {
        this.loading = true
      }

      ProjectService.getArticle(projectId, articleId)
      .then(response => {
        this.article = parseArticle({ projectId, article: response.data })
      }).finally(() => {
        this.loading = false
      })
    },
    toggleBookmark (bookmark) {
      const { projectId, articleId } = this.$route.params

      ProjectService.setStarredArticle(
        projectId,
        articleId,
        bookmark
      ).then(() => this.reload({ silent: true }))
    }
  },
  created () {
    this.reload()
  }
}
</script>

<style scoped lang="scss">
@import '@/theme.scss';

.article-page-wrapper {
  height: 100%;
  margin: auto;
  max-width: 1034px;
  position: relative;
}

.back-link {
  align-items: center;
  color: $--theme-text;
  display: inline-flex;
  font-weight: 600;
  margin: 16px 0 8px 20px;
  outline: none;
  padding: 8px 10px 8px 0;
  text-decoration: none;
}
.back-link:focus {
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px $--theme-primary;
}
.back-link:active {
  text-decoration: underline;
}
.back-link:focus,
.back-link:hover {
  color: $--theme-primary;
}
.back-link:focus svg,
.back-link:hover svg {
  fill: $--theme-primary;
}

.loading {
  align-items: center;
  display: flex;
  width: 100%;
  margin: 60px 0;
}
.loading svg {
  margin: auto;
}
</style>