<template>
  <div class="wrapper">
    <div class="filters-wrapper">
      <h2 style="width: 100%">{{ l10n('filters') }}</h2>
      <div>
        <div
          v-for="([label, values]) in filters"
          :key="label"
          class="filters"
        >
          <strong>{{ label }}</strong>
          <div class="filter">
            <div
              v-for="value in (values instanceof Array ? values : [values])"
              :key="value"
              :class="values instanceof Array ? 'item' : 'date'"
            >
              {{ value }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <LoadingIcon class="loading" v-if="loading" />
    <div v-else>
      <Article
        v-for="article in articles"
        :key="article.articleId"
        :disabled="true"
        :expanded="true"
        :l10n="l10n"
        shadow
        v-bind="article"
      />
    </div>
  </div>
</template>

<script>
import Tools from '@/modules/common/utils/Tools.mjs'
import Article from '../components/Article.vue'
import ProjectService from '@/modules/projects/services/ProjectService.js'
import LoadingIcon from '@/modules/common/components/icons/LoadingIcon.vue'

import parseArticle from '../utils/parseArticle.js'

export default {
  name: 'ExportArticleList',
  components: {
    Article,
    LoadingIcon
  },
  data () {
    const l10n = (key, ...args) => args.reduce((str, replaceStr, index) => (
      str.replaceAll(`$${index + 1}`, replaceStr)
    ), this.$vuetify.lang.t(`$vuetify.ilmUpdate.${key}`))
    return {
      articles: [],
      filters: [],
      l10n,
      loading: true
    }
  },
  mounted () {
    const { projectId } = this.$route.params
    const f = JSON.parse(this.$route.query.filters)

    this.filters = [
      [
        this.l10n('date'),
        f.publication_date_start
          ? Tools.formatDatePickerFormat(
            [f.publication_date_start, f.publication_date_end]
              .filter(d => d)
              .map(d => d.replace(/-/g, '/'))
              .join(' - ')
          )
          : ''
      ]
    ].concat(
      [
        [this.l10n('sources'), f.data_sources],
        [this.l10n('journals'), f.journals],
        [this.l10n('authors'), f.author_names],
        [this.l10n('publicationTypes'), f.article_types],
        [this.l10n('ontologyTags'), f.ontology_tags],
      ]
        .filter((a) => a[1] && a[1].length)
        .map(([label, values]) => (
          [
            label,
            values
          ]
        ))
    ).filter((a) => a[1] && a[1].length)

    ProjectService.searchArticles(projectId, f).then(async ({ data }) => {
      // Don't do anything yet; need to load up all the ids too
      this.articles = await Promise.all(data.data.map(({ article_id }) =>
        ProjectService.getArticle(projectId, article_id)
      ))
        .then(responses => responses.map(({ data: article }) => parseArticle({ projectId, article })))

      this.loading = false
      setTimeout(() => {
        window.print()
      }, 0)
      
    })
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';
.wrapper {
  max-width: 1050px;
  margin: auto;
}

.filters-wrapper {
  padding: 40px;
  margin: -20px;

}
.filters-wrapper h2 {
  margin: 20px 20px 10px 20px;
}
.filters-wrapper > div {
  display: flex;
  flex-wrap: wrap;
}
.filters {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.filters strong {
  display: block;
}
.filter {
  display: flex;
  margin: -5px 0 5px -5px;
  flex-wrap: wrap;
}
.filter .date {
  margin: 5px;
}
.filter .item {
  background-color: $--theme-inactive-light;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
}
.loading {
  height: 50px;
  left: calc(50% - 25px);
  margin: auto;
  position: absolute;
  top: calc(50% - 25px);
  width: 50px;
}
</style>