<template>
  <PageContainer
    :filterVisible="filterVisible"
  >
    <template v-slot:header>
      <Header
        :title="projectName"
        :expandedAll="expandedAll"
        :filterVisible="filterVisible"
        :firstArticlePage="(page - 1) * pageSize + 1"
        :lastArticlePage="Math.min(((page - 1) * pageSize + 1) + pageSize, totalArticles)"
        :l10n="l10n"
        :sortByNewest="sortByNewest"
        :sortByTitle="sortByTitle"
        :totalArticles="totalArticles"
        @expandAllToggled="toggleExpandAll"
        @filterToggled="toggleFilter"
        @exportData="exportArticleList"
        @sortUpdated="updateSort"
      />
    </template>
    <template v-slot:filter>
      <ArticleFilter
        :authors="authors"
        :authorsSelected="authorsSelected"
        :bookmarkedOnly="bookmarkedOnly"
        :dateRange="dateRange"
        :journals="journals"
        :journalsSelected="journalsSelected"
        :l10n="l10n"
        :ontologyTags="ontologyTags"
        :ontologyTagsSelected="ontologyTagsSelected"
        :publicationTypes="publicationTypes"
        :publicationTypesSelected="publicationTypesSelected"
        :reloadingAuthors="reloadingAuthors"
        :reloadingJournals="reloadingJournals"
        :reloadingOntologies="reloadingOntologies"
        :sources="sources"
        :sourcesSelected="sourcesSelected"
        @filterToggled="toggleFilter"
        @filterOpened="onFilterOpened"
        @queryUpdated="updateQuery"
        @updated="filterUpdated"
      />
    </template>
    <div
      v-if="searching"
      class="loading"
    >
      <LoadingIcon />
    </div>
    <div
      v-else-if="articles.length === 0"
      class="no-results"
    >
      {{ l10n('noResults') }}
    </div>
    <div v-else>
      <Article
        v-for="article in articles"
        :key="article.articleId"
        class="article"
        :expanded="expandedAll"
        :l10n="l10n"
        shadow
        v-bind="article"
        @expanded="() => loadMoreArticleData(article)"
        @bookmarkToggled="(bookmark) => toggleBookmark(article, bookmark)"
      />
    </div>
    <div v-if="!searching || articles.length" class="pagination-wrapper">
      <Pagination
        :count="pageCount"
        :disabled="disableComponents || searching"
        :pageIndex="page - 1"
        @update="(index) => updatePage(index + 1)"
      />
    </div>
  </PageContainer>
</template>

<script>
import Article from '../components/Article.vue'
import ArticleFilter from '../components/ArticleFilter.vue'
import Header from '../components/Header.vue'
import LoadingIcon from '@/modules/common/components/icons/LoadingIcon.vue'
import PageContainer from '@/modules/common/components/PageContainer.vue'
import ProjectService from '@/modules/projects/services/ProjectService.js'
import Pagination from '@/modules/common/components/Pagination.vue'

import parseArticle from '../utils/parseArticle.js'

const searchArticles = async ({
  projectId,
  ...filterOptions
}) => {
  const { data } = await ProjectService.searchArticles(projectId, filterOptions)
  
  return {
    articles: data.data,
    count: data.count,
    page: data.page,
    size: data.size
  }
}

export default {
  name: 'IntelligentLiteratureMonitoring',
  components: {
    Article,
    ArticleFilter,
    Header,
    LoadingIcon,
    PageContainer,
    Pagination
  },
  data () {
    const l10n = (key, ...args) => args.reduce((str, replaceStr, index) => (
      str.replaceAll(`$${index + 1}`, replaceStr)
    ), this.$vuetify.lang.t(`$vuetify.ilmUpdate.${key}`))
    return {
      articles: [],
      authors: [],
      authorsQuery: '',
      authorsSelected: [],
      bookmarkedOnly: false,
      dateRange: '',
      disableComponents: false,
      expandedAll: false,
      filterVisible: false,
      l10n,
      page: 1,
      pageSize: 10,
      searching: false,
      journals: [],
      journalsQuery: '',
      journalsSelected: [],
      publicationTypes: [],
      publicationTypesSelected: [],
      ontologyTags: [],
      ontologyTagsQuery: '',
      ontologyTagsSelected: [],
      reloadingAuthors: false,
      reloadingJournals: false,
      reloadingOntologies: false,
      reloadRequestCount: 0, // Prevents showing old data
      sources: [],
      projectName: '',
      sortByNewest: true,
      sortByTitle: false,
      sourcesSelected: [],
      tags: [],
      tagsSelected: [],
      totalArticles: 0
    }
  },
  computed: {
    pageCount () {
      return Math.ceil(this.totalArticles / this.pageSize)
    }
  },
  methods: {
    articleLink (articleId) {
      const { projectId } = this.$route.params
      return `${projectId}/${articleId}`
    },
    exportArticleList () {
      const { projectId } = this.$route.params
      const filters = {
        ...this.getFilters(),
        size: 100
      }
      const routeData = this.$router.resolve({
        name: 'ExportIlmProject',
        params: {
          projectId
        },
        query: {
          filters: JSON.stringify(filters)
        }
      })
      window.open(routeData.href, "Export Project", "resizable,scrollbars,status")
    },
    filterUpdated (filters) {
      const { projectId } = this.$route.params

      if (filters) {
        this.dateRange = filters.dateRange
        this.bookmarkedOnly = filters.bookmarkedOnly
        ;[
          'authors',
          'journals',
          'publicationTypes',
          'sources',
          'ontologyTags'
        ].forEach(prop => {
          this[`${prop}Selected`] = filters[prop]
        })
      }

      // Update the url
      (() => {
        const filters = this.getFilters()
        delete filters.projectId

        const pathParams = {
          name: 'IlmProject',
          params: { projectId },
          query: (
            Object.keys(filters).length === 2 &&
            filters.sort_field === 'title' &&
            filters.sort_order === 'asc' &&
            filters.page <= 1
          )
            ? {}
            : {
              filter: encodeURIComponent(JSON.stringify(filters))
            }
        }
        if (this.$router.resolve(pathParams).href !== this.$route.fullPath) {
          this.$router.replace(pathParams)
        }
      })()

      this.searching = true
      this.reload({ silent: true }).then(() => {
        this.searching = false
      })
    },
    getFilters () {
      const { projectId } = this.$route.params
      const filters = [
        ['author_names', 'authors'],
        ['journals', 'journals'],
        ['ontology_tags', 'ontologyTags'],
        ['article_types', 'publicationTypes'],
        ['data_sources', 'sources']
      ].reduce(
        (filters, [filterProp, projectProp]) => (
          this[`${projectProp}Selected`].length
            ? {
              ...filters,
              [filterProp]: this[`${projectProp}Selected`]
            }
            : filters
        ),
        {
          projectId,
          sort_field: this.sortByTitle ? 'title' : 'publication_date',
          // The API filter is actually backwards: "desc" = "ascending order",
          // but only when searching by date.
          sort_order: this.sortByTitle
            ? this.sortByNewest ? 'asc' : 'desc'
            : this.sortByNewest ? 'desc' : 'asc'
        }
      )

      const [startDate, endDate] = this.dateRange.split('-').map(dateStr => dateStr
        ? new Date(dateStr).toISOString().split('T')[0]
        : ''
      )

      if (endDate) {
        filters.publication_date_end = endDate
        filters.publication_date_start = startDate
      } else if (startDate) {
        filters.publication_date_start = filters.publication_date_end = startDate
      }

      if (this.bookmarkedOnly) {
        filters.starred = true
      }

      if (this.page > 1) {
        filters.page = this.page
      }

      return filters
    },
    loadMoreArticleData (article) {
      const { projectId } = this.$route.params
      return ProjectService.getArticle(projectId, article.articleId)
        .then(response => {
          this.articles = this.articles.map((existingArticle) => existingArticle.articleId === article.articleId
            ? parseArticle({ projectId, article: response.data })
            : existingArticle
          )
        })
    },
    onFilterOpened(type) {
      this.reloadDropdown(type)
    },
    reloadDropdown (prop) {
      const { projectId } = this.$route.params
      if (!['authors', 'journals', 'ontologyTags'].includes(prop)) {
        return
      }

      const { queryProp, resultsProp, reloadProp } = {
        authors: {
          queryProp: 'author',
          resultsProp: 'author_names',
          reloadProp: 'reloadingAuthors'
        },
        journals: {
          queryProp: 'journal',
          resultsProp: 'journals',
          reloadProp: 'reloadingJournals'
        },
        ontologyTags: {
          queryProp: 'ontology_tag',
          resultsProp: 'ontology_tags',
          reloadProp: 'reloadingOntologies'
        }
      }[prop]

      this[reloadProp] = true

      const filters = { ...this.getFilters() }
      delete filters[prop]
      delete filters[resultsProp]
      return ProjectService.filtersAutocomplete(
        projectId,
        {
          ...filters,
          [queryProp]: this[`${prop}Query`]
        }
      ).then(({ data }) => {
        this[prop] = data instanceof Array ? data : []

        this[reloadProp] = false
      })
    },
    reload (options) {
      const { projectId } = this.$route.params
      const { silent } = {
        silent: false,
        ...(options || {})
      }

      if (!silent) {
        this.searching = true
      }

      const requestCount = this.reloadRequestCount + 1
      this.reloadRequestCount = requestCount

      return searchArticles(this.getFilters()).then(({ articles, count, page, size }) => {
        if (articles.length === 0 && page > 0 && count > 0) {
          this.page = Math.ceil(count / this.pageSize)
          return this.reload(options)
        }

        if (requestCount === this.reloadRequestCount) {
          this.articles = articles.map(article => parseArticle({
            projectId,
            article,
            existingArticle: this.articles.find(a => a.articleId === article.article_id)
          }))
          this.totalArticles = count
          this.page = page
          this.pageSize = size
        }

        if (this.expandedAll) {
          // Loading additional article data
          // (user can scroll and view articles while this data loads)
          Promise.all(this.articles.map(this.loadMoreArticleData))
        }

        window.scrollTo(0, 0)

      }).finally(() => {
        if (!silent && requestCount === this.reloadRequestCount) {
          this.searching = false
        }
      })
    },
    toggleBookmark (article, bookmark) {
      const { projectId } = this.$route.params

      // Assume that the request will succeed
      this.articles = this.articles.map(a => a.articleId === article.articleId
        ? {
          ...article,
          bookmarked: bookmark
        }
        : a
      )

      ProjectService.setStarredArticle(
        projectId,
        article.articleId,
        bookmark
      )
    },
    toggleExpandAll (expandedAll) {
      this.expandedAll = expandedAll
    },
    toggleFilter (visible) {
      this.filterVisible = visible
    },
    updateSort ({ sortByTitle, sortByNewest }) {
      this.sortByNewest = sortByNewest
      this.sortByTitle = sortByTitle
      this.filterUpdated()
    },
    updatePage (newPage) {
      this.page = newPage
      this.filterUpdated()
    },
    updateQuery (type, value) {
      if (this[`${type}Query`] !== value) {
        this[`${type}Query`] = value
        this.reloadDropdown(type)
      }
    }
  },
  created () {
    const { projectId } = this.$route.params

    ProjectService.get(projectId).then(response => {
      this.projectName = response.data.data.project_name
    })

    let filter = {}
    try {
      filter = JSON.parse(
        decodeURIComponent(
          this.$route.query.filter
        )
      )
    } catch (e) {
      filter = {}
    }

    if (Object.keys(filter).length > 0) {
      this.filterVisible = true
    }

    [
      ['author_names', 'authors'],
      ['journals', 'journals'],
      ['ontology_tags', 'ontologyTags'],
      ['article_types', 'publicationTypes'],
      ['data_sources', 'sources']
    ].forEach(([filterProp, projectProp]) => {
      if (filter[filterProp] != null) {
        this[`${projectProp}Selected`] = filter[filterProp]
      }
    })
    this.bookmarkedOnly = !!filter.starred
    this.dateRange = [
      filter.publication_date_start || '',
      filter.publication_date_end || ''
    ].filter(d => d).map(d => d.replace(/-/g, '/')).join('-')
    this.page = filter.page || 1

    this.sortByTitle = filter.sort_field === 'title'
    this.sortByNewest = filter.sort_order === 'asc'

    // Date sorting is inverted for some reason
    if (!this.sortByTitle) {
      this.sortByNewest = !this.sortByNewest
    }

    Promise.all([
      // Get all the articles
      this.reload(),
      // Get the content for the data sources and publication types
      ProjectService.filtersDropdown(
        projectId,
        this.getFilters()
      ).then(({ data }) => {
        this.sources = data.data_sources.length
          ? data.data_sources
          : []
        this.publicationTypes = data.types.length
          ? data.types
          : []
      })
    ]).finally(() => {
      this.searching = false
    })
  }
}
</script>

<style scoped lang="scss">
@import '@/theme.scss';

.article {
  margin: 0 auto;
  max-width: 1034px;
  padding: 30px 60px 0;
}
.pagination-wrapper {
  margin-top: 30px;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.no-results {
  align-items: center;
  background-color: $--theme-bg;
  border: 1px solid $--theme-shadow;
  display: flex;
  justify-content: center;
  padding: 16px 0;

  margin: 30px auto;
  max-width: 1034px;
}
</style>