<template>
  <div>
    <div class="wrapper">
      <div v-if="undoTimeout" class="undo-wrapper">
        <h4>{{ relevant ? l10n('movedToNotRelevant') : l10n('movedToRelevant') }}</h4>
        <h4>{{ l10n('feedbackProvidedForTraining') }}</h4>
        <h4 :class="`timer${undoSecondsCurrent ? '' : ' hidden'}`">{{ `${undoTimer}s` }}</h4>
        <Button
          active
          class="undo-button"
          :disabled="undoActivated"
          fill
          @click="undoBadgeUpdate"
        >
          <LoadingIcon v-if="undoActivated" />
          <span>{{ l10n('undo') }}</span>
        </Button>
      </div>
      <h4>
        {{ title }}
      </h4>
      <BadgeWrapper
        :disabled="disabled"
        :l10n="l10n"
        :models="models"
        :analyteSubject="models.analyteSubject"
        :humanStudy="models.humanStudy"
        :intendedUse="models.intendedUse"
        :performanceStudy="models.performanceStudy"
        @update="onBadgeUpdate"
        @comfirmTagging="onTaggingConfirmed"
      />
      <div class="info-wrapper">
        <div :title="l10n('publicationDateTooltip')">
          <v-icon>mdi-calendar</v-icon> {{ formattedPublicationDate }}
        </div>
        <div :title="l10n('authorsTooltip')">
          <AuthorsLabels
            :authors="authors"
            :l10n="l10n"
          />
        </div>
        <div :title="l10n('journalTooltip')">
          <v-icon>mdi-book-outline</v-icon> {{ journal }}
        </div>
        <div :title="l10n('sourceTypeTooltip')">
          <v-icon>mdi-file-document-outline</v-icon> {{ formattedPublicationType }}
        </div>
      </div>
        <div class="article-links" v-if="articleLinks && articleLinks.length">
          <div>{{ l10n('articleLinks') }}</div>
          <Button
            v-for="link in articleLinks"
            :key="link"
            class="article-link"
            :disabled="disabled"
            faded
            :href="link"
          >
            {{ link }}
          </Button>
        </div>
      <div class="button-row">
        <Button :disabled="disabled" @click="copyCitation" :title="l10n('copyLinkTooltip')">
          <v-icon>mdi-content-copy</v-icon>
          {{ l10n(copyCitationActiveTimeout ? 'citationCopied' : 'copyCitation') }}
        </Button>
      </div>
      <div v-if="showExpanded">
        {{ abstract }}
      </div>
      <div class="button-row">
        <Button
          :disabled="disabled"
          @click="() => toggleExpanded()"
        >
          <v-icon v-if="showExpanded">mdi-chevron-up-circle-outline</v-icon>
          <v-icon v-else>mdi-chevron-down-circle-outline</v-icon>
          {{
            showExpanded
              ? l10n('viewLess')
              : l10n('viewMore')
          }}
        </Button>
        <!--
        There is not yet an IVDR article page,
        so these buttons do not apply
        <Button :disabled="disabled">
          <v-icon>mdi-bookmark-outline</v-icon>
          {{ l10n('bookmarkArticle') }}
        </Button>
        <Button :disabled="disabled">
          <v-icon>mdi-content-copy</v-icon>
          {{ l10n('copyLink') }}
        </Button>
        -->
      </div>
    </div>
  </div>
</template>

<script>
import Tools from '@/modules/common/utils/Tools.mjs'
import AuthorsLabels from '@/modules/common/components/AuthorsLabels.vue'
import Button from '@/modules/common/components/Button.vue'
import LoadingIcon from '@/modules/common/components/icons/LoadingIcon.vue'
import BadgeWrapper from './BadgeWrapper.vue'

const undoDuration = 5e3

const models = [
  'analyteSubject',
  'humanStudy',
  'performanceStudy',
  'intendedUse',
]

export default {
  name: 'Article',
  components: { 
    AuthorsLabels,
    BadgeWrapper,
    Button,
    LoadingIcon
  },
  data () {
    return {
      copyCitationActiveTimeout: 0,
      checkboxValue: true,
      innerExpanded: false,
      useInnerExpanded: false,
      revertBadgeState: models.reduce((state, model) => ({
        ...state,
        [model]: this.models[model].feedback
      }), {}),
      undoActivated: false,
      undoTimeout: 0,
      undoSecondsCurrent: 0,
      undoSecondsEnd: 0
    }
  },
  props: (() => {
    const str = (d = '') => ({ type: String, default: d })
    return {
      abstract: str(),
      articleId: str(),
      articleLinks: Array,
      authors: Array,
      citation: String,
      disabled: Boolean,
      edited: Boolean,
      expanded: Boolean,
      journal: str(),
      l10n: Function,
      models: Object,
      publicationDate: str(),
      publicationType: str(),
      relevant: Boolean,
      title: str()
    }
  })(),
  computed: {
    showExpanded () {
      return this.useInnerExpanded
        ? this.innerExpanded
        : this.expanded
    },
    formattedPublicationDate() {
      return this.publicationDate
        ? Tools.formatDate(this.publicationDate, true)
        : ''
    },
    formattedPublicationType () {
      return (
        this.publicationType instanceof Array
          ? this.publicationType.join(', ')
          : this.publicationType
      )
    },
    undoTimer () {
      return Math.min(
          undoDuration / 1e3,
          Math.max(
          0,
          Math.floor(
            (this.undoSecondsEnd - this.undoSecondsCurrent) / 1e3
          )
        ) + 1
      )
    }
  },
  methods: {
    updateRevertBadgeState () {
      this.revertBadgeState = models.reduce((state, model) => ({
        ...state,
        [model]: this.models[model].feedback
      }), {})
    },
    toggleExpanded (newExpanded = !this.showExpanded) {
      this.useInnerExpanded = true
      this.innerExpanded = newExpanded
    },
    onBadgeUpdate (badgeState) {
      this.$emit('badgeUpdate', badgeState)
    },
    undoBadgeUpdate () {
      this.undoActivated = true
      clearTimeout(this.undoTimeout)
      this.undoTimeout = 1
      this.undoSecondsCurrent = 0
      this.undoSecondsEnd = 0

      this.$emit('badgeUpdate', Tools.clone(this.revertBadgeState))
      this.$emit('comfirmTagging', () => {
        this.undoTimeout = 0
      })
    },
    onTaggingConfirmed () {
      this.$emit('comfirmTagging', () => {
        // Do not show a banner unless the changes from the badges would cause the article to flip
        if (
          this.relevant
            ? models.every(model => this.models[model].feedback)
            : models.some(model => !this.models[model].feedback)
        ) {
          // But do update the revert state
          this.updateRevertBadgeState()
          return
        }

        this.undoActivated = false
        this.undoSecondsCurrent = Date.now()
        this.undoSecondsEnd = Date.now() + undoDuration

        const timerUpdate = () => {
          this.undoSecondsCurrent = Date.now()
          if (this.undoSecondsCurrent < this.undoSecondsEnd) {
            setTimeout(timerUpdate, 100)
          } else {
            this.undoSecondsCurrent = this.undoSecondsEnd = 0
          }
        }
        timerUpdate()

        clearTimeout(this.undoTimeout)
        this.undoTimeout = setTimeout(() => {
          clearTimeout(this.undoTimeout)
          this.undoTimeout = 0
          this.updateRevertBadgeState()
          this.$emit('taggingApplied')
        }, undoDuration)
      })
    },
    onRevert () {
      this.$emit('comfirmTagging')
    },
    copyCitation () {
      Tools.copyToClipboard(this.citation)
      clearTimeout(this.copyCitationActiveTimeout)
      this.copyCitationActiveTimeout = setTimeout(() => {
        this.copyCitationActiveTimeout = 0
      }, 1e3)
    }
  },
  watch: {
    expanded () {
      this.useInnerExpanded = false
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';

h4 {
  font-size: 24px;
}

.article-link {
  padding: 2px;
  display: inline;
  height: 22px;
  margin-left: -2px;

  max-width: min(100%, 300px);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.article-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 8px;
}

.wrapper {
  background-color: $--theme-bg;
  box-shadow: 0 0 1px 2px $--theme-shadow;
  padding: 40px;
  position: relative;
  width: 100%;
  font-size: 13px; // TODO: bad accessibility but matches mockups
}

.info-wrapper {
  color: $--theme-inactive;
}

.button-row {
  margin: 0 -16px;
}

.timer {
  color: $--theme-inactive;
  font-weight: normal;
}
.timer.hidden {
  opacity: 0;
}

.undo-wrapper {
  align-items: center;
  background-color: $--theme-bg;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.undo-button {
  margin-top: 2rem;
}
.undo-button svg {
  fill: $--theme-text-inverted;
  position: absolute;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;
}
.undo-button:disabled span {
  opacity: 0;
}


</style>
