<template>
    <div class="wrapper">
      Filter goes here
      <button @click="toggleFilter">Close</button>
    </div>
</template>

<script>
export default {
  name: 'ArticleFilter',
  props: {
    l10n: Function
  },
  methods: {
    toggleFilter () {
      this.$emit('filterToggled', false)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';

.wrapper {
  position: relative;
  background-color: $--theme-bg;
  box-shadow: 0 0 1px 2px $--theme-shadow;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
}
</style>
