<template>
  <label>
    <Checkbox
      :disabled="disabled"
      :value="value"
      @update="onUpdate"
    />
    <span class="label-text">{{ label }}</span>
    <v-icon
      :class="`upscale${userMode ? '' : ' hidden'}`"
      :title="title"
      style="margin-bottom:.2rem; margin-right:.2rem"
      color="#000"
    >
      mdi-account-outline
    </v-icon>
  </label>
</template>

<script>
import Checkbox from '@/modules/common/components/Checkbox.vue'

export default {
  name: 'Badge',
  components: {
    Checkbox
  },
  props: {
    disabled: Boolean,
    label: String,
    title: String,
    userMode: Boolean,
    value: Boolean
  },
  methods: {
    onUpdate () {
      this.$emit('update', !this.value)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';

.hidden {
  opacity: 0;
}

label {
  cursor: pointer;
  display: block;
  padding: 6px 3px 0px 0;
  min-height: 46px;
}
.label-text {
  margin-left: 10px;
  position: relative;
  top: -3px;
}

label:not(:last-child) {
  padding-right: 30px;
}
</style>
