<template>
  <div :class="`badge-wrapper${modified ? ' active' : ''}`">
    <Badge
      v-for="({ inferred, feedback, label, property }) in badges"
      :key="label"
      class="badge"
      :disabled="disabled"
      :label="label"
        :title="inferred !== feedback ? l10n('userModifiedTooltip') : null"
      :value="feedback"
      :userMode="inferred !== feedback"
      @update="checked => onBadgeUpdated(property, checked)"
    />
    <div class="space" aria-hidden />
    <Button
      v-if="modified"
      active
      class="confirm-button"
      :disabled="disabled"
      dense
      fill
      @click="onTaggingConfirmed"
    >
      <LoadingIcon v-if="disabled" />
      <span>{{ l10n('confirmTagging') }}</span>
    </Button>
  </div>
</template>

<script>
import Badge from './Badge.vue'
import Button from '@/modules/common/components/Button.vue'
import LoadingIcon from '@/modules/common/components/icons/LoadingIcon.vue'

const models = [
  'analyteSubject',
  'humanStudy',
  'performanceStudy',
  'intendedUse',
]

export default {
  name: 'BadgeWrapper',
  components: {
    Badge,
    Button,
    LoadingIcon
  },
  props: (() => {
    const getObj = () => ({
      type: Object,
      default: () => ({
        initialFeedback: Boolean,
        feedback: Boolean,
        inferred: Boolean
      })
    })
    return {
      analyteSubject: getObj(),
      disabled: Boolean,
      humanStudy: getObj(),
      intendedUse: getObj(),
      l10n: Function,
      performanceStudy: getObj()
    }
  })(),
  computed: {
    modified () {
      return [
        this.analyteSubject,
        this.humanStudy,
        this.intendedUse,
        this.performanceStudy
      ].some(model => model.feedback !== model.initialFeedback)
    },
    badges () {
      const labels = models.map(model => this.l10n(model))
      return models.map((property, index) => ({
        feedback: this[models[index]].feedback,
        inferred: this[models[index]].inferred,
        label: labels[index],
        property
      }))
    }
  },
  methods: {
    onBadgeUpdated (property, value) {
      this.$emit(
        'update',
        models.reduce((hash, prop, index) => ({
          ...hash,
          [prop]: property === prop ? value : this.badges[index].feedback
        }), {})
      )
    },
    onTaggingConfirmed () {
      this.$emit('comfirmTagging')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';

.badge-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  margin-left: -40px;
  padding: 10px 47px 0px 38px;
  width: calc(100% + 80px);
}
.badge-wrapper.active {
  background-color: $--theme-faded-bg;
}

.badge {
  padding-top: 8px;
  padding-bottom: 6px;
}

.badge:nth-child(4) {
  padding-right: 0;
  margin-right: -10px;
}

.space {
  flex: 1;
}

.confirm-button {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.confirm-button svg {
  fill: $--theme-text-inverted;
  position: absolute;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;
}
.confirm-button:disabled span {
  opacity: 0;
}

</style>
