<template>
  <div class="header-wrapper">
    <div class="title-container">
      <h3>
        {{ title }}
      </h3>
      <Button
        :disabled="disabled"
        fill
        :title="l10n('exportDataTooltip')"
        @click="exportData"
      >
        {{ l10n('exportData') }}
      </Button>
    </div>
    <div class="button-row-container">
      <div>
        <Button
          :disabled="disabled"
          :active="relevantTabActive"
          faded
          :title="l10n('relevantTooltip')"
          underline
          @click="() => toggleRelevantTab(true)"
        >
          {{`${l10n('relevant')} (${relevantCount})`}}
        </Button>
        <Button
          :disabled="disabled"
          :active="!relevantTabActive"
          faded
          :title="l10n('notRelevantTooltip')"
          underline
          @click="() => toggleRelevantTab(false)"
        >
          {{`${l10n('notRelevant')} (${notRelevantCount})`}}
        </Button>
      </div>
      <div>
        <Button
          :disabled="disabled"
          faded
          v-if="this.$vuetify.breakpoint.smAndUp"
          @click="() => toggleExpandAll(!expandedAll)"
        >{{
          expandedAll
            ? l10n('contractAll')
            : l10n('expandAll')
        }}</Button>
        <!--
        Commenting out the filter for now
        <Button
          :disabled="disabled"
          faded
          @click="toggleFilter"
        >{{ l10n('filter') }}</Button>
        -->
      </div>
    </div>
  </div>
</template>

<script>
import Button from '@/modules/common/components/Button.vue'

export default {
  name: 'Header',
  components: {
    Button
  },
  props: {
    disabled: Boolean,
    expandedAll: Boolean,
    l10n: Function,
    relevantTabActive: Boolean,
    title: String,
    relevantCount: {
      type: Number,
      default: 0
    },
    notRelevantCount: {
      type: Number,
      default: 0
    }
  },
  methods: {
    toggleExpandAll (newExpandAll = !this.expandedAll) {
      this.$emit('expandAllToggled', newExpandAll)
    },
    toggleFilter () {
      this.$emit('filterToggled')
    },
    toggleRelevantTab (relevantActive) {
      this.$emit('relevantTabToggled', relevantActive)
    },
    exportData () {
      this.$emit('exportData')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';

.header-wrapper {
  padding: 0 40px;
  box-shadow: 0 0 1px 2px $--theme-shadow;
}
h3 {
  font-size: 2rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title-container {
  align-items: center;
  display: flex;
  height: 126px;
  justify-content: space-between;
}
.button-row-container {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  white-space: nowrap;
}



</style>
