<template>
  <div class="overlay-wrapper">
    <div class="container-component">
      <h4>{{ l10n('incompleteChanges') }}</h4>
      <Button
        class="overlay-button"
        fill
        @click="onCompleteTagging"
      >
        {{ l10n('completeTagging') }}
      </Button>
      <Button
        class="overlay-button"
        fill
        active
        @click="onLoseChanges"
      >
        {{ l10n('loseChanges') }}
      </Button>
    </div>
  </div>
</template>

<script>
import Button from '@/modules/common/components/Button.vue'

export default {
  name: 'Overlay',
  components: {
    Button
  },
  props: {
    l10n: Function
  },
  methods: {
    toggleFilter () {
      this.$emit('filterToggled', false)
    },
    onCompleteTagging () {
      this.$emit('completeTagging')
    },
    onLoseChanges () {
      this.$emit('loseChanges')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';

.overlay-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  position: absolute;
}

.container-component {
  align-items: center;
  background-color: $--theme-bg;
  box-shadow: 0 0 1px 2px $--theme-shadow;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 528px;
  max-height: 262px;
  width: 100%;
}

h4 {
  font-size: 20px;
  margin-bottom: 16px;
}

.overlay-button {
  margin: 9px 0;
  max-width: 176px;
  width: 100%;
}

</style>
