<template>
  <div v-if="!hideEmptyAuthors || hasAuthors">
    <v-icon>mdi-account-multiple-outline</v-icon>
    {{ formattedAuthors }}
    <button v-if="extended" @click="toggle">{{ l10n('showLess') }}</button>
    <button v-else @click="toggle" :class="extras == 0 ? 'd-none' : ''">{{ `+${ extras } ${ l10n('showMore') }` }}</button>
  </div>
</template>

<script>
import formatAuthors from '@/modules/common/utils/formatAuthors.mjs'

export default {
  name: 'AuthorsLabels',
  props: {
    authors: Array,
    hideEmptyAuthors: {
      type: Boolean,
      default: false
    },
    l10n: Function
  },
  data () {
    return {
      maxLength: 40,
      extended: false
    }
  },
  computed: {
    hasAuthors () {
      return !!(this.authors && this.authors.find(a => (
        a.name
      )))
    },
    computedData () {
      return formatAuthors({
        authors: this.authors,
        extended: this.extended,
        maxLength: this.maxLength
      })
    },
    formattedAuthors () {
      return this.computedData.formattedAuthors
    },
    extras () {
      return this.computedData.extras
    }
  },
  methods: {
    toggle() {
      this.extended = !this.extended
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';

button {
  color: $--theme-inactive;
  padding: 1px 2px;
  font-weight: 600;
  text-transform: uppercase;
}
button:focus {
  border-radius: 4px;
  box-shadow: 0 0 0 2px $--theme-primary;
  outline: none;
}
button:hover {
  color: $--theme-primary;
  text-decoration: underline;
}
</style>