<template>
  <component :is="(href && !disabled) ? 'a' : 'button'"
    :class="`button-wrapper${
      active ? ' active' : ''
    }${
      dense ? ' dense' : ''
    }${
      fill ? ' fill' : ''
    }${
      faded ? ' faded' : ''
    }${
      underline ? ' underline' : ''
    }`"
    :disabled="disabled"
    :href="href"
    :target="href ? '_blank' : ''"
    :title="title"
    :rel="href ? 'noreferrer' : ''"
    @click="onClick"
  >
    <slot />
  </component>
</template>

<script>
export default {
  name: 'Button',
  props: {
    active: {
      type: Boolean,
      default: false
    },
    dense: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false
    },
    faded: {
      type: Boolean,
      default: false
    },
    fill: {
      type: Boolean,
      default: false
    },
    href: {
      type: String,
      default: ''
    },
    title: String,
    underline: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onClick (e) {
      if (!this.disabled) {
        this.$emit('click', e)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';

.button-wrapper {
  border-radius: 4px;
  color: $--theme-text;
  display: inline-block;
  font-weight: 600;
  height: 40px;
  padding: .5rem 1rem;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
.dense {
  height: 36px;
}
.faded {
  color: $--theme-inactive;
}
.button-wrapper:focus {
  outline: 2px solid $--theme-primary;
  z-index: 1;
}
.active,
.button-wrapper:hover:not(:disabled) {
  color: $--theme-primary;
}
.fill {
  background-color: $--theme-primary;
  color: $--theme-text-inverted;
}
.underline:after {
  background-color: $--theme-inactive-light;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.active.underline:after,
.underline:hover:not(:disabled):after {
  background-color: $--theme-primary;
}
.fill.active:not(:disabled),
.fill:hover:not(:disabled) {
  background-color: $--theme-bg;
  box-shadow: 0 0 0 2px $--theme-primary;
}
.fill.active {
  color: $--theme-primary;
}
.fill.active:hover:not(:disabled) {
  background-color: $--theme-primary;
  color: $--theme-text-inverted;
}

.button-wrapper * {
  color: inherit;
}

</style>
