<template>
  <component class='checkbox-label' :is="label ? 'label' : 'div'">
    <input
      v-if="value"
      key="checked"
      :disabled="disabled"
      checked
      type="checkbox"
      @click.prevent="onUpdate"
    />
    <input
      v-else
      key="unchecked"
      :disabled="disabled"
      type="checkbox"
      @click.prevent="onUpdate"
    />
    <div aria-hidden="true" class="outline">
      <v-icon v-if="value" dense color="#fff">mdi-check</v-icon>
    </div>
    <div class="label-text">{{ label }}</div>
  </component>
</template>

<script>
export default {
  name: 'Checkbox',
  props: {
    disabled: Boolean,
    label: String,
    value: Boolean
  },
  methods: {
    onUpdate (e) {
      if (this.disabled) {
        return
      }
      const parent = e.target.parentNode
      this.$emit('update', e.target.checked)
      // Autofocus the input if it changes.
      // Unique inputs are required in order to create controlled checkboxes.
      // Vue's "v-model", "checked", "value", etc. do not create controlled inputs.
      setTimeout(() => {
        parent.querySelector('input').focus()
      }, 0)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';

.checkbox-label {
  display: inline-block;
  height: 18px;
  margin-left: 4px;
  position: relative;
}
.checkbox-label > input {
  height: 18px;
  opacity: 0;
  position: absolute;
  width: 18px;
}

.checkbox-label > .outline {
  background-color: $--theme-bg;
  border: 2px solid $--theme-primary;
  border-radius: 3px;
  height: 18px;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 18px;
}
.checkbox-label > .outline > i {
  margin-left: -3px;
  margin-top: -3px;
  position: absolute;
}
.checkbox-label > .label-text {
  margin-left: 26px;
}

.checkbox-label > input:checked + .outline {
  background-color: $--theme-primary;
}
.checkbox-label > input:focus + .outline {
  border-color: $--theme-primary-dark;
  box-shadow: 0 0 0 2px $--theme-bg, 0 0 0 4px $--theme-primary;
}
.checkbox-label > input:active + .outline {
  background-color: $--theme-primary-dark;
}
</style>
