<template>
  <div>
    <div style="position: absolute; top: -2rem; right: 1rem">
      <toast
        class="my-3"
        inline
        :show="showToast"
        :showIcon="false"
      >
        {{ $vuetify.lang.t('$vuetify.ilm.labels.linkCopied') }}
      </toast>
    </div>
    <v-tooltip v-model="show" top>
      <template v-slot:activator="{ on, attrs }">
        <v-btn icon v-bind="attrs" v-on="on" @click="copy">
          <v-icon color="grey lighten-1">mdi-content-copy</v-icon>
        </v-btn>
      </template>
      <span>{{ $vuetify.lang.t('$vuetify.ilm.labels.copyLink') }}</span>
    </v-tooltip>
  </div>
</template>

<script>
import Tools from '@/modules/common/utils/Tools.mjs'

import { Toast } from 'ingestor-vue-components'

export default {
  name: 'CopyButton',
  components: {
    Toast
  },
  props: {
    text: String
  },
  data() {
    return {
      show: false,
      showToast: false,
      toastTimeout: 0
    }
  },
  methods: {
    copy() {
      Tools.copyToClipboard(this.text)
      this.showToast = true
      clearTimeout(this.toastTimeout)
      this.toastTimeout = setTimeout(() => {
        this.showToast = false
      }, 1600)
      this.$emit('click')
    }
  }
}
</script>

<style lang="css" scoped>
</style>