<template>
  <div class="align-center d-flex px-4 py-4 wrapper">
    <div class="categories mr-4" v-text="formattedTitle(chartData.title)"></div>
  <div class="bars flex-grow-1 mr-6">
    <div class="d-flex mx-2 my-1" v-for="(barData, i) in cols" :key="`${barData.name}_${i}`">
      <div v-if="i % 2 === 0" v-text="formattedTitle(barData.name)"></div>
      <div v-if="i % 2 === 1" class="d-flex flex-grow-1">
        <button class="align-center bar d-flex justify-end" :disabled="!barData.hasChildren"
                :style="{ flex: barData.total, background: barData.color }" @click="click(barData)">
          <v-icon v-if="barData.hasChildren" small>mdi-chevron-right</v-icon>
        </button>
        <div class="total" :style="{ flex: Math.max(max - barData.total) }">
          <div v-text="barData.total"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "HorizontalBarChart",
  props: {
    chartData: Object
  },
  data() {
    return {
    }
  },
  methods: {
    click(target) {
      if (target.hasChildren) {
        this.$emit('select', target)
      }
    },
    formattedTitle(title) {
      return title // Don't change the name
      // return title.replaceAll("_", " ").toLowerCase()
    }
  },
  computed:{
    cols() {
      return this.chartData.data.reduce((columns, data) => ([
        ...columns,
        {
          name: data.name
        },
        data,
      ]), [])
    },
    max() {
      const m = Math.max(...this.chartData.data.map(e => e.total))
      return m
    }
  }
}
</script>

<style lang="css" scoped>
.wrapper {
  border: 1px solid lightgrey;
  font-size: 11.2px;
  text-transform: capitalize;
  max-width: 500px;
}
.categories {
  font-size: 13px;
  text-align: center;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}
.bars {
  display: grid;
  grid-template-columns: max-content 1fr;
}
.bar {
  background-color: #3d9970;
  border-radius: 2px;
}
.total {
  position: relative;
}
.total > div {
  left: .5rem;
  position: absolute;
}

.bar:hover:not(:disabled) {
  filter: brightness(120%);
}

@media (max-width: 480px) {
  .categories {
    display: none;
  }
}
</style>