<template>
  <v-app-bar class="navbar" elevation="0" app>
    <v-toolbar-title>
      <v-img v-if="useOld" id="home-link" src="@/assets/images/logo_ingestor.svg" @click="goHome" class="pointer"/>
      <v-img
        v-else
        id="home-link"
        class="logo pointer"
        src="@/assets/images/ingestor_regulatory.svg"
        @click="goHome"
      />
    </v-toolbar-title>

    <v-spacer></v-spacer>

    <div v-if="isAuthenticated()">
      <v-menu offset-y left bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn id="home-account-menu" class="mx-3" small icon v-bind="attrs" v-on="on">
            <v-img src="@/assets/images/icon_navbar_profile.svg"/>
          </v-btn>
        </template>

        <v-list>
          <v-list-item id="home-account-menu-logout" @click="logOut">
            <v-list-item-title>Log Out</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
    <div v-else>
      <v-btn class="openSans-300" text color="primary" to="/login">{{ $vuetify.lang.t('$vuetify.login.buttons.login') }}</v-btn>
    </div>

  </v-app-bar>
</template>

<script>
import store from "@/store"
import {LOGOUT} from "@/modules/auth/store/actions/AuthActions"
export default {

  name: 'NavBar',

  computed: {
    useOld () {
      const { fullPath } = this.$route
      return !fullPath.startsWith('/ivdr') && !fullPath.startsWith('/ilm')
    }
  },
  data () {
    return {

    }
  },
  methods: {
    goHome() {
      if (this.$route.name == 'MyProjects') {
        this.$router.go()
      } else {
        this.$router.push('/')
      }
    },
    isAuthenticated() {
      return this.$store.getters.isAuthenticated
    },
    logOut() {
      this.$auth.logout({
        returnTo: window.location.origin
      });
      store.dispatch(LOGOUT)
    }
  }
}
</script>

<style lang="scss">
.logo {
  max-height: 32px;
  min-height: 32px;
  max-width: 241px;
  min-width: 241px;
}
</style>