<template>
  <div :class="`project-wrapper ${filterVisible ? 'filter-open' : ''}`">
    <section class="header-container">
      <slot name="header" />
    </section>
    <div v-if="overlayAction" class="overlay-container">
      <slot name="overlay" />
    </div>
    <section :class="`filter-container${overlayAction ? ' faded' : ''}`">
      <slot name="filter" />
    </section>
    <section v-if="error" class="article-container">
      <h4 class="ma-4">
        <slot name="error">
          {{ error }}
        </slot>
      </h4>
    </section>
    <section v-else-if="loading" class="article-container">
      <h4 class="ma-4">
        <slot name="loading">
          Loading...
        </slot>
      </h4>
    </section>
    <section v-else :class="`article-container${overlayAction ? ' faded' : ''}`">
      <slot />
    </section>
  </div>
</template>

<script>
export default {
  name: 'PageContainer',
  props: {
    error: String,
    filterVisible: Boolean,
    loading: Boolean,
    overlayAction: null
  }
}
</script>


<style lang="scss" scoped>
@import '@/theme.scss';

.faded {
  filter: blur(4px);
}

.project-wrapper {
  background-color: $--theme-page-bg;
}
.header-container {
  background-color: $--theme-bg;
  position: sticky;
  top: 64px;
  height: 186px;
  width: 100%;
  z-index: 2;
}

.filter-container {
  bottom: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 250px;
  transition: filter 150ms;
  width: 0;
}

.article-container {
  min-height: calc(100vh - 250px);
  padding-bottom: 20px;
  transition: filter 150ms;
}
.article {
  margin: 0 auto;
  max-width: 1034px;
  padding: 30px 60px;
}

.filter-open .filter-container {
  width: 358px;
}
.filter-open .article-container {
  padding-left: 358px;
}

.overlay-container {
  left: 0;
  margin-bottom: calc(-100vh + 250px);
  min-height: calc(100vh - 250px);
  position: sticky;
  right: 0;
  top: 250px;
  z-index: 3;
}

@media (max-width: 960px) {
  .header-container {
    top: 56px;
  }
  .filter-container {
    top: 242px;
    top: 56px;
    width: 0;
  }
  .article-container {
    min-height: calc(100vh - 242px);
  }

  .filter-open .header-container {
    height: 0;
  }
  .filter-open .filter-container {
    bottom: 0;
    padding: 0;
    top: 56px;
    width: 100%;
    z-index: 2;
  }
  .filter-open .article-container {
    max-height: 0;
    overflow: hidden;
  }
}
</style>
