<template>
  <div class="pagination-wrapper">
    <button
      :class="`arrow-button${pageIndex === 0 ? ' hidden' : ''}`"
      :disabled="disabled"
      @click="() => selectPageIndex('-1')"
    >
      <v-icon>mdi-arrow-left</v-icon>
    </button>
    <button
      :class="`page-button${pageIndex === 0 ? ' active' : ''}`"
      :disabled="disabled"
      @click="() => selectPageIndex(0)"
    >
      1
    </button>
    <div v-if="showFirstEllipsis" class="ellipsis">...</div>
    <button
      v-for="i in pageIndexes"
      :key="i"
      :class="`page-button${i === pageIndex ? ' active' : ''}`"
      :disabled="disabled"
      @click="() => selectPageIndex(i)"
    >
      {{ i + 1 }}
    </button>
    <div v-if="showLastEllipsis" class="ellipsis">...</div>
    <button
      v-if="showLastPage"
      :class="`page-button${pageIndex === count - 1 ? ' active' : ''}`"
      :disabled="disabled"
      @click="() => selectPageIndex(count - 1)"
    >
      {{ count }}
    </button>
    <button
      :class="`arrow-button${count < 1 || pageIndex === count - 1 ? ' hidden' : ''}`"
      :disabled="disabled"
      @click="() => selectPageIndex('+1')"
    >
      <v-icon>mdi-arrow-right</v-icon>
    </button>
  </div>
</template>

<script>
const maxVisiblePages = 7
// const maxVisiblePages = 9

export default {
  name: 'Pagination',
  props: {
    count: Number,
    defaultPageIndex: Number,
    disabled: Boolean,
    pageIndex: Number,
    pageSize: Number
  },
  computed: {
    showFirstEllipsis () {
      return Math.floor(maxVisiblePages / 2) < this.pageIndex && maxVisiblePages < this.count
    },
    pageIndexes () {
      const makeArray = (start, len) => Array.from(Array(Math.max(0, len)), (_, i) => start + i)
      // All the pages can fit; just return them all
      if (this.count <= maxVisiblePages) {
        return makeArray(1, this.count - 2)
      }

      if (this.pageIndex < maxVisiblePages - Math.floor(maxVisiblePages / 2)) {
        return makeArray(1, maxVisiblePages - 3)
      }

      // Just about right, needs less magic numbers though
      if (this.pageIndex + 4 > this.count) {
        return makeArray(
          Math.min(this.pageIndex - 2, this.count - 5),
          4
        )
      }

      return makeArray(
        Math.max(3, this.pageIndex - Math.floor(maxVisiblePages / 4)),
        maxVisiblePages - 4
      )
    },
    showLastEllipsis () {
      return maxVisiblePages < this.count
        ? this.pageIndex < this.count - 3 // probably wrong
        : false
    },
    showLastPage () {
      return this.count > 1
    }
  },
  methods: {
    selectPageIndex (index) {
      this.$emit(
        'update',
        Math.max(
          0,
          Math.min(
            this.count - 1,
            typeof index === 'string'
              ? this.pageIndex + +index
              : index
          )
        )

      )
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';

.pagination-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.page-button,
.arrow-button {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 33px;
  justify-content: center;
  margin: 0 3.5px;
  width: 33px;
  outline: none;
}

.arrow-button.hidden {
  visibility: hidden;
}

.ellipsis {
  text-align: center;
  margin: 0 3.5px;
  width: 33px;
}

.page-button:hover,
.arrow-button:hover,
.page-button:focus,
.arrow-button:focus {
  border: 2px solid $--theme-primary;
}

.page-button.active,
.page-button:active,
.arrow-button:active {
  background-color: $--theme-primary;
  color: $--theme-text-inverted;
  font-weight: 500;
}
.arrow-button > * {
  transition: none;
  color: $--theme-text;
}
.arrow-button:active > * {
  color: $--theme-text-inverted;
}

</style>
