<template>
  <PageContainer
    :filterVisible="filterVisible"
    :loading="loading && !active.articles.length"
    :overlayAction="overlayAction"
  >
    <template v-slot:header>
      <Header
        :disabled="disableComponents"
        :title="projectName"
        :l10n="l10n"
        :expandedAll="expandedAll"
        :relevantTabActive="activeTab === RELEVANT"
        :relevantCount="relevantCount"
        :notRelevantCount="notRelevantCount"
        @exportData="exportData"
        @expandAllToggled="toggleExpandAll"
        @filterToggled="toggleFilter"
        @relevantTabToggled="toggleRelevantTab"
      />
    </template>
    <template v-slot:overlay>
      <Overlay
        :l10n="l10n"
        @completeTagging="closeOverlay"
        @loseChanges="overlayAction"
      />
    </template>
    <template v-slot:filter>
      <ArticleFilter
        :l10n="l10n"
        @filterToggled="toggleFilter"
      />
    </template>
    <template v-slot:error>
      {{ error }}
    </template>
    <template v-slot:loading>
      Loading...
    </template>
    <Article
      v-for="article in active.articles"
      :key="`${activeTab}-${article.articleId}`"
      class="article"
      :disabled="disableComponents"
      :expanded="expandedAll"
      :l10n="l10n"
      :relevant="activeTab === RELEVANT"
      v-bind="article"
      @badgeUpdate="modelFeedback => onBadgeUpdate(article, modelFeedback)"
      @comfirmTagging="onUpdate => onTaggingConfirmed(article, onUpdate)"
      @taggingApplied="() => onTaggingApplied(article)"
    />
    <Pagination
      :count="pageCount"
      :disabled="disableComponents"
      :pageIndex="active.page - 1"
      @update="(index) => updatePage(index + 1)"
    />
  </PageContainer>
</template>

<script>
import Article from '../components/Article.vue'
import ArticleFilter from '../components/ArticleFilter.vue'
import Header from '../components/Header.vue'
import Overlay from '../components/Overlay.vue'
import Pagination from '@/modules/common/components/Pagination.vue'

import PageContainer from '@/modules/common/components/PageContainer.vue'

import IvdrService from '@/modules/inVitroDiagnosticRegulations/services/IVDRService.js'
import ProjectService from '@/modules/projects/services/ProjectService'
import Tools from '@/modules/common/utils/Tools.mjs'

// Hard set for now
const pageSize = 10

const RELEVANT = 'relevant'
const NONRELEVANT = 'nonrelevant'

const searchArticles = async ({
  projectId,
  relevant = true,
  page = 1
}) => {
  const { data } = await IvdrService.searchArticles(
    projectId,
    {
      page,
      relevant
    }
  )
  if (data.length === 0 && data.page > 0 && data.count > 0) {
    return searchArticles({
      projectId,
      relevant,
      page: Math.ceil(data.count / pageSize)
    })
  }

  window.scrollTo(0, 0)

  return {
    count: data.count,
    data: data.data.map(d => ({
      abstract: d.abstract,
      articleId: d.article_id,
      articleLinks: d.article_links,
      authors: d.authors.map(a => ({
        name: a.name,
        affiliations: a.affiliations.concat()
      })),
      citation: Tools.createCitation(d),
      edited: false,
      journal: d.journal,
      models: {
        analyteSubject: {
          initialFeedback: d.feedback_analyte_subject,
          feedback: d.feedback_analyte_subject,
          inferred: d.inferred_analyte_subject
        },
        humanStudy: {
          initialFeedback: d.feedback_human_study,
          feedback: d.feedback_human_study,
          inferred: d.inferred_human_study
        },
        intendedUse: {
          initialFeedback: d.feedback_intended_use,
          feedback: d.feedback_intended_use,
          inferred: d.inferred_intended_use
        },
        performanceStudy: {
          initialFeedback: d.feedback_performance_study,
          feedback: d.feedback_performance_study,
          inferred: d.inferred_performance_study
        }
      },
      publicationDate: d.publication_date,
      publicationType: d.type,
      title: d.title
    })),
    page,
    projectId,
    relevant,
  }
}

export default {
  components: {
    Article,
    ArticleFilter,
    Header,
    Overlay,
    PageContainer,
    Pagination
  },
  data () {
    const createTabData = () => ({
      articles: [],
      count: 0,
      page: 1
    })

    const l10n = key => {
      return this.$vuetify.lang.t(`$vuetify.ivdrUpdate.${key}`)
    }

    return {
      RELEVANT,
      NONRELEVANT,
      activeTab: RELEVANT,
      error: '',
      expandedAll: false,
      filterVisible: false,
      l10n,
      loading: true,
      overlayAction: null,
      projectName: l10n('loading'),
      [RELEVANT]: createTabData(),
      [NONRELEVANT]: createTabData(),
      loadedState: {
        [RELEVANT]: createTabData(),
        [NONRELEVANT]: createTabData(),
      }
    }
  },
  created () {
    const { projectId } = this.$route.params

    ProjectService.get(projectId).then(response => {
      this.projectName = response.data.data.project_name
    })

    Promise.all(
      [
        RELEVANT,
        NONRELEVANT
      ].map(tab => searchArticles({
        projectId, relevant: tab === RELEVANT, page: 1
      }))
    ).then(([relevant, notRelevant]) => {
      [
        [this[RELEVANT], relevant],
        [this.loadedState[RELEVANT], relevant],
        [this[NONRELEVANT], notRelevant],
        [this.loadedState[NONRELEVANT], notRelevant],
      ].forEach(([model, loadedData]) => {
        model.articles = Tools.clone(loadedData.data)
        model.count = loadedData.count
      })
    }).catch(() => {
      this.error = 'An error occurred'
    }).finally(() => {
      this.loading = false
    })
  },
  computed: {
    active () {
      return this[this.activeTab]
    },
    disableComponents () {
      return !!(this.overlayAction || this.loading)
    },
    pageCount () {
      return Math.ceil(this.active.count / pageSize)
    },
    relevantCount () {
      return this.loadedState[RELEVANT].count
    },
    notRelevantCount () {
      return this.loadedState[NONRELEVANT].count
    },
    hasEdits () {
      return this.active.articles.some(({ edited }) => edited)
    }
  },
  methods: {
    exportData () {
      return IvdrService.downloadExcel(this.$route.params.projectId)
    },
    toggleExpandAll (expandedAll) {
      this.expandedAll = expandedAll
    },
    toggleFilter (newState = !this.filterVisible) {
      this.filterVisible = newState
    },
    toggleRelevantTab (relevantTabActive = !this.activeTab) {
      if (relevantTabActive === this.activeTab) {
        return
      }

      if (this.hasEdits) {
        this.overlayAction = async () => {
          this.revertEdits()
          this.toggleRelevantTab(relevantTabActive)
          this.overlayAction = null
        }
        return
      }

      [this[RELEVANT], this[NONRELEVANT]].forEach(tab => {
        tab.articles.forEach(article => {
          article.edited = false
        })
      })

      this.activeTab = relevantTabActive ? RELEVANT : NONRELEVANT 
      this[this.activeTab] = Tools.clone(this.loadedState[this.activeTab])
    },
    onBadgeUpdate (article, modelFeedback) {
      const newModelData = Object.entries(modelFeedback).reduce((newModel, [model, feedback]) => ({
        ...newModel,
        [model]: {
          ...newModel[model],
          feedback
        }
      }), { ...article.models })
      article.models = newModelData

      const existingArticle = this.active.articles.find(a => a.articleId === article.articleId)
      article.edited = Object.keys(modelFeedback).some(model =>
        modelFeedback[model] !== existingArticle.models[model].initialFeedback
      )
    },
    onTaggingConfirmed (article, onUpdate = () => {}) {
      this.overlayAction = null
      const { projectId } = this.$route.params

      const modelProperties = Object.entries({
        analyteSubject: 'feedback_analyte_subject',
        humanStudy: 'feedback_human_study',
        intendedUse: 'feedback_intended_use',
        performanceStudy: 'feedback_performance_study'
      })

      const articles = article ? [article] : this.active.articles.filter(({ edited }) => edited)

      articles.forEach(article => {
        article.edited = false
      })

      this.loading = true

      const requests = Promise.all(articles.map(article => (
        IvdrService.updateArticle(
          projectId,
          article.articleId,
          modelProperties.reduce((data, [modelProp, actualProp]) => (
            article.models[modelProp].feedback === article.models[modelProp].initialFeedback
            ? data
            : {
              ...data,
              [actualProp]: article.models[modelProp].feedback
            }
          ), {})
        )
          .then(async () => {
            // Search is being run, but patch/post requests can be called now
            onUpdate()

            // Update the internal article data immediately
            modelProperties.forEach(([modelProp]) => {
              article.models[modelProp].initialFeedback =
              article.models[modelProp].feedback
            })

            // Reload both tab's data
            const [relevantTabs, notRelevantTabs] = await Promise.all([
              searchArticles({ projectId, relevant: true, page: this[RELEVANT].page }),
              searchArticles({ projectId, relevant: false, page: this[NONRELEVANT].page })
            ])

            this.loadedState[RELEVANT] = {
              ...this[RELEVANT],
              count: relevantTabs.count,
              page: relevantTabs.page,
              articles: relevantTabs.data
            }
            this.loadedState[NONRELEVANT] = {
              ...this[NONRELEVANT],
              count: notRelevantTabs.count,
              page: notRelevantTabs.page,
              articles: notRelevantTabs.data
            }

            this.loading = false
          })
          .catch((error) => {
            console.error(error)
            this.loading = false
          })
      )))

      return requests
    },
    updatePage (page) {
      const { projectId } = this.$route.params

      if (this.hasEdits) {
        this.overlayAction = async () => {
          this.revertEdits()
          this.updatePage(page)
          this.overlayAction = null
        }
        return
      }

      this.loading = true
      const tab = this.active
      searchArticles({
        projectId,
        relevant: this.activeTab === RELEVANT,
        page: page
      }).then(data => {
        tab.articles = data.data
        tab.count = data.count
        tab.page = page
        this.loading = false
      })
    },
    revertEdits () {
      [RELEVANT, NONRELEVANT].forEach((tabType) => {
        this[tabType] = Tools.clone(this.loadedState[tabType])
      })
    },
    onTaggingApplied (article) {
      const newRelevant = Tools.clone(this.loadedState[RELEVANT])
      const newNotRelevant = Tools.clone(this.loadedState[NONRELEVANT])

      ;[
        [newRelevant, this[RELEVANT]],
        [newNotRelevant, this[NONRELEVANT]]
      ].forEach(([newData, origData]) => {
        newData.articles = newData.articles.map(newArticle => {
          const modifiedArticle = origData.articles.find(origArticle =>
            newArticle.articleId === origArticle.articleId && (
              !article || newArticle.articleId !== article.articleId
            )
          )

          if (modifiedArticle) {
            return {
              ...modifiedArticle,
              edited: false
            }
          }

          return newArticle
        })
      })

      this[RELEVANT] = newRelevant
      this[NONRELEVANT] = newNotRelevant
    },
    closeOverlay () {
      this.overlayAction = null
    }
  }
}
</script>

<style lang="scss" scoped>
.article {
  margin: 0 auto;
  max-width: 1034px;
  padding: 30px 60px;
}
</style>
