<template>
  <div class="mx-5 mt-10">
    <div>
      <div>
        <div class="text-h5">
          <v-icon class="pr-1" @click="back">mdi-arrow-left</v-icon> {{ project.name }}
        </div>
        <div class="fz-14 openSans-400 gray-font-color my-1 pl-9" v-text="$vuetify.lang.t('$vuetify.projects.labels.intelligentLiteratureMonitoring')"></div>
      </div>
    </div>
    <div class="action-banner px-4 py-2 my-5">
      <v-btn depressed class="button-action-bar" :plain="showFilters ? false : true" :color="showFilters ? 'primary' : ''" @click="toggleFilters">
        <v-icon>mdi-tune-variant</v-icon>
      </v-btn>
      <v-btn depressed plain class="ml-3 button-action-bar" @click="exportArticleList">
        <v-icon>mdi-tray-arrow-down</v-icon>
      </v-btn>
    </div>
    <v-row>
      <v-col v-show="showFilters" md="3">
        <filter-column @applyFilters="searchArticles" :sources="sources" :types="types" :filters="currentFilter"/>
      </v-col>
      <v-col :md="showFilters ? 9 : 12">
        <div v-if="articles.data.length != 0">
          <div class="d-flex justify-space-between">
            <div class="openSans-300 fz-18 mb-3">
              {{ `Articles: ${ currentPages } of ${articles.count} results` }}
            </div>
            <div>
              <span class="mr-8">
                <v-menu :close-on-content-click="false" offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <a class="text-uppercase ml-1" v-bind="attrs" v-on="on">
                      {{$vuetify.lang.t('$vuetify.ilm.labels.sortResultsBy')}}
                      <v-icon color="primary">mdi-arrow-down-thin</v-icon>
                      <v-icon color="primary">mdi-arrow-up-thin</v-icon>
                    </a>
                  </template>

                  <v-list>
                    <v-list-item v-for="field in sortFields" :key="field.value" @click="setSortField(field)">
                      <v-icon v-if="field.selected" class="mr-2" color="primary">mdi-check</v-icon>
                      <v-icon v-else class="mr-2" color="white">mdi-checkbox-blank</v-icon>
                      <v-list-item-title>{{ field.text }}</v-list-item-title>
                    </v-list-item>

                    <v-divider class="mb-2"></v-divider>

                    <v-list-item v-for="field in sortExtraFields[sortSelected]" :key="field.value" @click="setOrder(field)">
                      <v-icon v-if="field.selected" class="mr-2" color="primary">mdi-check</v-icon>
                      <v-icon v-else class="mr-2" color="white">mdi-checkbox-blank</v-icon>
                      <v-list-item-title>{{ field.text }}</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </span>
              <a class="text-uppercase ml-1" @click="allExpanded = !allExpanded">
                <span v-if="allExpanded">{{ $vuetify.lang.t('$vuetify.common.buttons.collapseAll') }}</span>
                <span v-else>{{ $vuetify.lang.t('$vuetify.common.buttons.expandAll') }}</span>
              </a>
            </div>
          </div>
          <div class="gray-border-container">
            <article-card v-for="article in articles.data" :article="article" :key="article.id"
                          :set-starred-article="setStarredArticle" :all-expanded="allExpanded"
                          :get-full-article="getArticle" :clear-stars="clearAllStars"
                          :opi-score-configured="opiScoreConfigured" />
          </div>
          <v-pagination depressed v-if="totalPages > 1" class="my-4" v-model="articles.page" :length="totalPages" :total-visible="10"
                        @input="changePage" @previous="prevPage" @next="nextPage"></v-pagination>
        </div>
        <div v-else-if="searching" class="d-flex justify-center mb-6">
          <v-progress-circular indeterminate color="primary"></v-progress-circular>
        </div>
        <div v-else class="d-flex justify-center mb-6">
          <v-alert v-if="articles.data.length == 0" color="blue" dense dismissible outlined prominent text
                   type="warning">No articles found</v-alert>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>

import ProjectService from "@/modules/projects/services/ProjectService.js"

import FilterColumn from '@/modules/intelligentLiteratureMonitoring/components/FilterColumn.vue'
import ArticleCard from '@/modules/intelligentLiteratureMonitoring/components/ArticleCard.vue'

export default {

  name: 'Project',
  components: { FilterColumn, ArticleCard },
  data () {
    return {
      showFilters: true,
      articles: {
        data: [],
        page: 1,
        size: 1,
        count: 1
      },
      totalPages: 0,
      sources: [],
      types: [],
      project: {
        name: ""
      },
      order: "desc",
      currentFilter: {},
      searching:false,
      allExpanded: false,
      clearAllStars: false,
      opiScoreConfigured: false,
      sortSelected: "publication_date",
      sortFields: [{
        text: 'Title',
        value: 'title',
        selected: false
      }, {
        text: 'Date',
        value: 'publication_date',
        selected: true
      }],
      sortExtraFields: {
        opi_score: [{ text: 'High to low', value: 'desc', selected: true }, { text: 'Low to high', value: 'asc', selected: false }],
        title: [{ text: 'A to Z', value: 'asc', selected: true }, { text: 'Z to A', value: 'desc', selected: false }],
        publication_date: [{ text: 'Newest first', value: 'desc', selected: true }, { text: 'Oldest first', value: 'asc', selected: false }]
      }
    }
  },
  computed: {
    currentPages() {
      let pageArticles = this.articles.size * this.articles.page
      return `${ this.articles.size * (this.articles.page - 1) + 1 }-${ pageArticles > this.articles.count ? this.articles.count : pageArticles }`
    }
  },
  methods: {
    setSortField(field) {
      this.sortFields.forEach(sortField => {
        sortField.selected = false
      })
      this.sortSelected = field.value
      field.selected = true

      let cueentOrder = this.sortExtraFields[this.sortSelected].filter(order => order.selected)
      this.order = cueentOrder[0].value
      this.sortArticles()
    },
    setOrder(field) {
      this.sortExtraFields[this.sortSelected].forEach(sortField => {
        sortField.selected = false
      })
      this.order = field.value
      field.selected = true
      this.sortArticles()
    },
    back() {
      this.$router.push(`/projects`)
    },
    exportArticleList() {
      let filters = {
        ...this.currentFilter,
        size: 100
      },
      routeData = this.$router.resolve({
        name: 'ExportIlmProject',
        params: {
          projectId: this.$route.params.projectId
        },
        query: {
          filters: JSON.stringify(filters)
        }
      })
      window.open(routeData.href, "Export Project", "resizable,scrollbars,status")
    },
    toggleFilters() {
      this.showFilters = !this.showFilters
    },
    sortArticles() {
      this.searchArticles({ ...this.currentFilter })
    },
    searchArticles(criteria) {
      this.currentFilter = criteria
      this.currentFilter["sort_order"] = this.order
      this.currentFilter["sort_field"] = this.sortSelected
      this.articles.data = []
      this.searching = true
      this.allExpanded = false
      this.searchArticlesByUrl(this.currentFilter)
      ProjectService.searchArticles(this.$route.params.projectId, this.currentFilter).then(response => {
        this.articles = response.data
        this.totalPages = Math.trunc(response.data.count / response.data.size)
        this.totalPages += (response.data.count % response.data.size) > 0 ? 1 : 0
      }).finally(() => this.searching = false)
    },
    getArticle(articleId) {
      return ProjectService.getArticle(this.$route.params.projectId, articleId)
    },
    setStarredArticle(articleId, starred) {
      ProjectService.setStarredArticle(this.$route.params.projectId, articleId, starred)
    },
    getProject() {
      ProjectService.get(this.$route.params.projectId).then(response => {
        this.project = { name :response.data.data.project_name }
        let customFields = response.data.data.custom_fields
        if(customFields) {
          let opiScoreField = customFields.find(field => field.field_name === "opi_score")
          if (opiScoreField) {
            this.sortFields.unshift({
              text: 'Publication Impact Score',
              value: 'opi_score',
              selected: false
            })
            this.opiScoreConfigured = true
          }
        }
      })
    },
    searchArticlesByUrl(criteria) {
      const pathParams = {
        name: 'IlmProjectOld',
        params: { projectId: this.$route.params.projectId },
        query: {
          filter: encodeURI(JSON.stringify(criteria))
        }
      }
      if (this.$router.resolve(pathParams).href !== this.$route.fullPath) {
        this.$router.replace(pathParams)
      }
    },
    changePage(pageNumber) {
      this.allExpanded = false
      this.currentFilter.page = pageNumber
      this.searchArticles(this.currentFilter)
    },
    nextPage() {
      this.changePage(this.articles.page)
    },
    prevPage() {
      this.changePage(this.articles.page)
    }
  },
  created() {
    let filter = this.$route.query.filter
    filter = filter ? JSON.parse(decodeURIComponent(filter)) : {}
    ProjectService.filtersDropdown(this.$route.params.projectId, this.currentFilter).then(response => {
      this.sources = response.data.data_sources.length != 0 ? response.data.data_sources : []
      this.types = response.data.types.length != 0 ? response.data.types : []
    }),
    this.searchArticles(filter)
    this.getProject()
  }
}
</script>

<style lang="css" scoped>

  .gray-font-color {
    color: #979797;
  }

  .button-action-bar {
    width: 40px !important;
    min-width: unset !important;
    padding: 0px !important;
  }
</style>
