<template>
<div>
  <v-row
    :class="'mx-auto my-0'"
    v-if="$vuetify.breakpoint.mobile"
  >
    <v-col>
      <v-row class="d-flex justify-space-between mx-0 mt-4">
        <h2 v-if="editMode" class="openSans-400 fz-24" v-text="$vuetify.lang.t('$vuetify.projects.labels.editProject')"></h2>
        <h2 v-else class="openSans-400 fz-24" v-text="$vuetify.lang.t('$vuetify.projects.labels.newProject')"></h2>
        <v-btn class="d-flex button-secondary txt-viridian px-0" plain @click="backToProjects">Cancel</v-btn>
      </v-row>
      <h4 class="text-subtitle-1 my-1 font-weight-thin" v-text="$vuetify.lang.t('$vuetify.projects.labels.intelligentLiteratureMonitoring')"></h4>
    </v-col>
  </v-row>

  <ProgressTracker
    class="ma-5"
    disabled
    :activeIndex="currentStep - 1"
    :complete="Array.from(Array(Math.max(0, currentStep - 1))).map((_, index) => `${index}`)"
    :horizontal="$vuetify.breakpoint.mobile"
    :steps="[
      $vuetify.lang.t('$vuetify.projects.labels.banner.content'),
      $vuetify.lang.t('$vuetify.projects.labels.banner.preferences'),
      $vuetify.lang.t('$vuetify.projects.labels.banner.summary')
    ]"
  />
</div>
</template>

<script>
import { ProgressTracker } from "ingestor-vue-components"

export default {
  components: { ProgressTracker },
  name: 'NewProjectBanner',

  props: {
    currentStep: Number,
    editMode: Boolean
  },
  methods: {
    backToProjects() {
      this.$router.push('/projects')
    },
  }
}
</script>

<style lang="scss" scoped>

</style>