<template>
  <v-card class="d-flex fill-height flex-column mx-auto" outlined
          @mouseover="isHovering = true"
          @mouseout="isHovering = false"
          :class="isHovering ? 'elevation-4' : '' ">
    <div class="image-wrapper">
      <img :src="imageSrc" alt="" />
    </div>
    <div class="d-flex mt-4">
      <v-card-subtitle class="fz-14 max-ch-category openSans-400-l pl-4 py-0">{{ type }}</v-card-subtitle>
      <v-chip class="fz-12 openSans-400 chip-category ml-auto mr-4" label v-if="available">Available</v-chip>
    </div>
    <div class="flex-grow-1 mt-1 openSans-400 pb-0 pt-1 px-4">
      {{title}}
    </div>
    <div class="align-center d-flex mb-5 mt-10 px-4 py-0">
      <v-btn v-if="training" color="primary" class="project-card-action-button px-0" text>Watch Video</v-btn>
      <v-btn v-else color="primary" class="project-card-action-button px-0" text>{{$vuetify.lang.t('$vuetify.projects.buttons.viewReport')}}</v-btn>
      <popover-dots v-if="checkType" class="ml-auto" v-on:edit="edit" v-on:remove="remove"></popover-dots>
    </div>
  </v-card>
</template>

<script>
import PopoverDots from "./PopoverDots";
export default {
  name: 'ProjectCard',
  components:{PopoverDots},
  props: {
    projectId: String,
    training: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    imageSrc: {
      type: String,
      default: ''
    },
    available: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      isHovering: false,
      editDialog: false,
      localTitle: ""
    }
  },
  methods: {
    onClick() {
      this.$emit('setFavorite')
    },
    edit() {
      this.$emit('edit')
    },
    remove() {
      this.$emit('remove')
    },
  },
  computed: {
    checkType() {
      return false;
    }
  }
}
</script>

<style lang="scss" scoped>
.image-wrapper {
  height: 114px;
  overflow: hidden;
  position: relative;
  > img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.project-card-action-button {
  font-size: 12px;
}

.max-ch-category {
  color: #979797 !important;
  max-width: 27ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::v-deep .chip-category {
  height: auto;
  padding: 2px 6px;
  background: #09609F26 !important;
}

::v-deep span.chip-category span.v-chip__content {
  color:#09609F !important;
}
</style>