<template>
  <div @click="goPath">
    <project-card-s-b :title="project.title" :type="project.type" :image-src="project.preview"
                      :available="project.available" :training="project.training"
                      v-on:remove="remove" v-on:edit="edit" :project-id="project.id"/>
  </div>
</template>

<script>
import ProjectCardSB from "@/modules/projects/components/ProjectCardSB";
import ProjectService from "@/modules/projects/services/ProjectService";
export default {

  name: 'ProjectCard',

  components: { ProjectCardSB },
  props: {
    project: Object
  },
  methods: {
    goPath() {
      if (this.project.training) {
        window.open(this.project.link)
      } else {
        let path = this.project.type.toLowerCase() === 'ivdr'? 'ivdr' : 'ilm'
        this.$router.push(`/${ path }/${ this.project.id }`)
      }
    },
    remove() {
      ProjectService.remove(this.project.id).then(() => {
        this.$emit('refresh')
      })
    },
    edit() {
      this.$router.push(`/project/edit/${ this.project.id }`)
    }
  }
}
</script>

<style lang="css" scoped>
</style>