<template>
  <v-card elevation="0" class="article-separator">
    <v-card-text class="pa-1">
      <div class="pa-2 d-flex" :class="expanded ? 'active-card-indentifier-container' : ''">
        <div>
          <favorite-button class="mx-4" :favorite="localArticle.starred_article" :action="toggleStarred" />
        </div>
        <div class="flex-grow-1">
          <div class="text-h6 initial-detail-row article-title" color="primary">
            <span v-if="cardMode">
              <router-link class="no-underline" :to="`/ilmOld/${ this.$route.params.projectId }/${ article.article_id }`">
                <span class="primary--text openSans-400 fz-14">{{ localArticle.title }}</span>
              </router-link>
            </span>
            <span class="openSans-400 fz-14" v-else>{{ localArticle.title }}</span>
          </div>
          <div class="my-3">
            <span class="fz-12">
              <b>{{ $vuetify.lang.t('$vuetify.ilm.labels.excerpt')}}: </b>{{ localArticle.preview_excerpt }}
            </span>
          </div>
          <div class="d-flex flex-row">
            <div v-if="opiScoreConfigured && article.opi_score" class="mr-2 px-4 opi-background">
              <div class="d-flex flex-column">
                <span class="d-flex justify-center text-h6">{{ article.opi_score }}</span>
                <span class="d-flex justify-center">OPI</span>
              </div>
            </div>
            <div>
              <div class="d-flex flex-row mb-3">
                <span class="mr-3 fz-12">
                  <v-icon>mdi-script-text-outline</v-icon>
                  <i>{{ localArticle.journal }}</i>
                </span>
                <authors-labels class="fz-12" v-if="localArticle.authors" :authors="localArticle.authors" />
                <span class="mx-3 fz-12">
                  <v-icon>mdi-file-document-outline</v-icon>
                  <b>{{ publicationType }}</b>
                </span>
                <span class="fz-12">
                  <v-icon>mdi-bullhorn-outline</v-icon> {{ formattedPublicationDate }}
                </span>
              </div>
              <ontology-tags-previewer v-if="localArticle.ontology_tag_chart" :tags="localArticle.ontology_tag_chart" />
              <div v-show="expanded" class="my-5">
                <div class="openSans-400 fz-12">{{ $vuetify.lang.t('$vuetify.ilm.labels.articleLinks') }}
                  (1)</div>
                <div class="mt-1" :key="articleUrl">
                  <a :href="localArticle.provider_url" target="_blank">{{localArticle.provider_url}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex mr-4">
          <copy-button :text="articleUrl" />
          <expand-button v-if="cardMode" class="ml-4 mt-1" :expanded="expanded" :action="expand" />
        </div>
      </div>
      <div class="mt-4 px-12" v-show="expanded">
        <v-row>
          <v-col>
          <div class="d-flex justify-end" style="position: relative">
            <div style="position: absolute; bottom: 1rem; right: -.5rem">
              <toast
                class="my-3"
                inline
                :show="showCopiedToast"
                :showIcon="false"
              >
                {{ $vuetify.lang.t('$vuetify.ilm.labels.linkCopied') }}
              </toast>
            </div>
            <a class="text-uppercase" @click="copyCitation">
              <v-icon class="mr-2" color="primary">mdi-content-copy</v-icon> {{ $vuetify.lang.t('$vuetify.ilm.buttons.copyCitation') }}
            </a>
          </div>
          </v-col>
        </v-row>
        <div class="text-center mt-10 mb-10" v-if="!loadedArticle">
            <v-progress-circular indeterminate color="primary"></v-progress-circular>
          </div>
        <div class="bg-white" v-if="loadedArticle && taggedText">
          <div class="text-h6 mt-3">
            <v-icon>mdi-text-box-outline</v-icon>
            <span class="ml-1 fz-16 openSans-300 txt-primary-black">{{ $vuetify.lang.t('$vuetify.projects.labels.banner.summary') }}</span>
          </div>
          <ontology-tag-chart
            :knowledgeGraphText="$vuetify.lang.t('$vuetify.ilm.labels.knowledgeGraph')"
            :ontology-chart-data="localArticle.ontology_tag_chart"
            class="mt-10 mb-10"
          >
          </ontology-tag-chart>
          <div class="summary-text">
            <markdown-to-html class="fz-16 paragraph-line-height" :source="taggedText"></markdown-to-html>
          </div>

        </div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import { Toast } from 'ingestor-vue-components'

import Tools from '@/modules/common/utils/Tools.mjs'

import CopyButton from '@/modules/common/components/CopyButton.vue'
import ExpandButton from '@/modules/common/components/ExpandButton.vue'
import FavoriteButton from '@/modules/common/components/FavoriteButton.vue'
import AuthorsLabels from '@/modules/intelligentLiteratureMonitoring/components/AuthorsLabels.vue'
import OntologyTagsPreviewer from '@/modules/intelligentLiteratureMonitoring/components/OntologyTagsPreviewer.vue'
import MarkdownToHtml from "@/modules/common/components/MarkdownToHtml";
import OntologyTagChart from "@/modules/intelligentLiteratureMonitoring/components/OntologyTagChart"

export default {
  name: 'ArticleCard',
  components: {
    Toast,
    OntologyTagChart,
    CopyButton,
    ExpandButton,
    FavoriteButton,
    AuthorsLabels,
    OntologyTagsPreviewer,
    MarkdownToHtml
  },
  props: {
    article: Object,
    opiScoreConfigured: { type: Boolean, default: false },
    fullArticle: { type: Boolean, default: false },
    mode: { type: String, default: 'card' },
    getFullArticle: Function,
    allExpanded: Boolean,
    clearStars: Boolean,
    setStarredArticle: Function
  },
  data () {
    return {
      localArticle: null,
      expanded: false,
      cardMode: true,
      loadedArticle: false,
      showCopiedToast: false,
      showCopiedToastTimeout: 0
    }
  },
  methods: {
    expand() {
      if (!this.expanded && !this.localArticle.spans) {
        this.getFullArticle(this.localArticle.article_id).then(async response => {
          this.localArticle = response.data
          this.$emit('update:fullArticle', true)
          this.loadedArticle = true
        })
      } else {
        this.loadedArticle = true
      }
      this.expanded = !this.expanded
    },
    toggleStarred() {
      this.localArticle.starred_article = (this.localArticle.starred_article) ? false : true
      this.setStarredArticle(this.localArticle.article_id, this.localArticle.starred_article)
    },
    copyCitation() {
      this.showCopiedToast = true
      clearTimeout(this.showCopiedToastTimeout)
      this.showCopiedToastTimeout = setTimeout(() => {
        this.showCopiedToast = false
      }, 1600)

      const citation = Tools.createCitation(this.localArticle)

      Tools.copyToClipboard(citation)
    }
  },
  computed: {
    taggedText () {
      const spans = this.localArticle.spans
        // Copy/simplify
        .map(({
          span_start_character,
          in_text,
          ontology_name,
          predictionScore
        }) => ({
          start: span_start_character,
          end: span_start_character + in_text.length,
          color: Tools.getRGBA(Tools.stringToColour(ontology_name)),
          name: ontology_name,
          predictionScore
        }))
        // Sort by occurrence in summary
        .sort((a, b) =>
          a.start - b.start ||
          b.end - a.end
        )
        // Filter out overlapping tags (prefer larger ones)
        .reduce((addedSpans, span) =>
        addedSpans.every(addedSpan =>
          span.start >= addedSpan.end ||
          (span.end - span.start) >= (addedSpan.end - addedSpan.start)
        )
          ? addedSpans.concat(span)
          : addedSpans, [])
        // Filter out overlapping tags (prefer later ones)
        .reduceRight((addedSpans, span) =>
          addedSpans.every(addedSpan =>
            span.end < addedSpan.start ||
            addedSpan.end < span.start
          )
            ? [span].concat(addedSpans)
            : addedSpans, [])

      const rawSummary = this.localArticle.summary

      const newSummary = spans.length
        ? spans.reduce((summary, span, index) => {
          const spanEl = document.createElement('span')
          spanEl.innerText = rawSummary.substring(span.start, span.end)
          spanEl.style = [
            `background-color: ${span.color}`,
            `border: 1px solid ${span.color}`,
            `border-radius: 5px`,
            `padding: 2px 3px`
          ].join(';')
          spanEl.title = span.name

          return summary.concat([
            spanEl.outerHTML,
            rawSummary.substring(
              spans[index].end,
              index < spans.length - 1
              ? spans[index + 1].start
              : Infinity
            )
          ])
        }, [
          rawSummary.substring(0, spans[0].start)
        ])
        : [rawSummary]
      return newSummary.join('')
    },
    publicationType () {
      const article = this.localArticle
      return (
        article.publication_type
          ? article.publication_type instanceof Array
            ? article.publication_type.join(', ') || article.type
            : article.publication_type
          : article.type
      )
    },
    articleUrl() {
      return `https://${ window.location.host }/ilmOld/${ this.$route.params.projectId }/${ this.article.article_id }`
    },
    formattedPublicationDate() {
      return Tools.formatDate(this.localArticle.publication_date, true)
    }
  },
  watch: {
    allExpanded() {
      if (this.allExpanded != this.expanded) {
        this.expand()
      }
    },
    clearStars() {
      if (this.localArticle.starred_article) {
        this.toggleStarred()
      }
    }
  },
  created() {
    this.localArticle = this.article
    if (this.mode == 'article') {
      this.cardMode = false
      this.expand()
    }
  }
}
</script>

<style lang="scss" scoped>
  .no-underline {
    text-decoration: none;
    color: inherit;
  }

  .opi-background {
    background-color: #f2fcf0;
  }

  ::v-deep {
    span.li-tagged-text {
      padding: 2px 3px;
      border-radius: 5px;
    }
  }

  div.summary-text {
    max-width: 1000px;
  }

  .initial-detail-row {
    line-height: normal;
  }

  .active-card-indentifier-container {
    background-color: #F2F5F8;
  }

  .paragraph-line-height {
    line-height: 30px;
  }
</style>
