<template>
  <div>
    <div class="fz-16 openSans-300 mb-4 txt-primary-black" v-text="label"></div>
    <v-select class="my-0" :items="items" :label="placeholder" :value="model" @change="selectItem" :multiple="true" :hide-details="true" dense outlined>
      <template v-slot:prepend-item>
        <v-list-item ripple @click="selectAll()">
          <v-list-item-action>
            <v-checkbox :input-value="allSelected"></v-checkbox>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $vuetify.lang.t('$vuetify.common.labels.selectAll') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-1"></v-divider>
      </template>
    </v-select>
    <v-chip v-for="item in model" :key="item" class="fz-14 openSans-400 filter-chips mr-2 mt-2" label>{{ item }}
      <v-icon @click="removeItem(item)" class="chip-button" dense right>mdi-close-circle-outline</v-icon>
    </v-chip>
  </div>
</template>

<script>
export default {

  name: 'FilterSelect',
  data () {
    return {
      allSelected: false
    }
  },
  props: {
    model: Array,
    label: String,
    items: Array,
    placeholder: String,
    onChange: Function
  },
  methods: {
    selectAll() {
      if (this.allSelected) {
        this.$emit('update:model', [])
        this.onChange()
      } else {
        this.$emit('update:model', [...this.items])
        this.onChange()
      }
    },
    selectItem(value) {
      this.allSelected = this.items.every(item => value.includes(item))
      this.$emit('update:model', value)
      this.onChange()
    },
    removeItem(item) {
      const index = this.model.indexOf(item)
      if (index > -1) {
        const newSelected = this.model.concat()
        newSelected.splice(index, 1)
        this.$emit('update:model', newSelected)
        this.onChange()
      }

    }
  },
  watch: {
    model: {
      immediate: true,
      deep: true,
      handler(newValue) {
        this.allSelected = newValue.length > 0 && this.items.every(item => newValue.includes(item))
      }
    }
  }
}
</script>

<style lang="scss">

.chip-button {
    transform: scale(1.3);
    height: 20px !important;
    width: 20px !important;
    line-height: normal;
    font-size: 15px;
}
</style>