<template>
  <v-card elevation="0" class="gray-border-container">
    <v-card-text>
      <div class="action-banner filter-banner d-flex mb-6 flex-wrap">
        <div class="text-h6 flex-grow-1 mr-5" v-text="$vuetify.lang.t('$vuetify.ilm.labels.filters')"></div>
        <div class="filter-buttons d-flex mt-1 justify-space-between">
          <a class="align-center d-flex text-no-wrap text-uppercase" @click="clearFilters">{{ $vuetify.lang.t('$vuetify.common.buttons.clearAll') }}</a>
        </div>
      </div>
      <date-picker
        class="date-picker"
        :value="criteria.pickerDate"
        range
        @update="setPickerDate"
      />
      <v-checkbox v-model="criteria.starred_only" @change="applyFilters">
        <template v-slot:label>
          <div>
            <v-icon class="fz-16 openSans-400" color="amber lighten-1">mdi-star</v-icon> {{ $vuetify.lang.t('$vuetify.ilm.labels.starredArticlesOnly') }}
          </div>
        </template>
      </v-checkbox>

      <v-divider></v-divider>

      <filter-select
        class="my-9"
        :placeholder="$vuetify.lang.t('$vuetify.ilm.labels.placeholderSource')"
        :label="$vuetify.lang.t('$vuetify.ilm.labels.source')"
        :items="sources"
        :model.sync="criteria.sources"
        :on-change="applyFilters"
      />

      <filter-autocomplete
        class="my-9"
        :loadingText="$vuetify.lang.t('$vuetify.common.misc.loading')"
        :noResultsText="$vuetify.lang.t('$vuetify.common.misc.noResults')"
        :label="$vuetify.lang.t('$vuetify.ilm.labels.journal')"
        :placeholder="$vuetify.lang.t('$vuetify.ilm.labels.placeholderJournal')"
        property-name="journal"
        :model.sync="criteria.journals"
        :filters="appliedFilters"
        :on-change="applyFilters"
      />

      <filter-autocomplete
        class="my-9"
        :loadingText="$vuetify.lang.t('$vuetify.common.misc.loading')"
        :noResultsText="$vuetify.lang.t('$vuetify.common.misc.noResults')"
        :label="$vuetify.lang.t('$vuetify.ilm.labels.author')"
        :placeholder="$vuetify.lang.t('$vuetify.ilm.labels.placeholderAuthor')"
        property-name="author"
        :model.sync="criteria.authors"
        :filters="appliedFilters"
        :on-change="applyFilters"
      />

      <filter-select
        class="my-9"
        :placeholder="$vuetify.lang.t('$vuetify.ilm.labels.placeholderArticleType')"
        :label="$vuetify.lang.t('$vuetify.ilm.labels.articleType')"
        :items="types"
        :model.sync="criteria.types"
        :on-change="applyFilters"
      />

      <filter-autocomplete
        class="my-9"
        :loadingText="$vuetify.lang.t('$vuetify.common.misc.loading')"
        :noResultsText="$vuetify.lang.t('$vuetify.common.misc.noResults')"
        :label="$vuetify.lang.t('$vuetify.ilm.labels.tag')"
        :placeholder="$vuetify.lang.t('$vuetify.ilm.labels.placeholderTag')"
        property-name="ontology_tag"
        :model.sync="criteria.tags"
        :filters="appliedFilters"
        :on-change="applyFilters"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import { DatePicker } from 'ingestor-vue-components'

import FilterSelect from '@/modules/intelligentLiteratureMonitoring/components/FilterSelect.vue'
import FilterAutocomplete from '@/modules/intelligentLiteratureMonitoring/components/FilterAutocomplete.vue'

export default {

  name: 'FilterColumn',

  components: {
    DatePicker,
    FilterSelect,
    FilterAutocomplete
  },
  props: {
    filters: Object,
    sources: Array,
    types: Array
  },
  data () {
    return {
      criteria: {
        pickerDate: '',
        starred_only: false,
        sources: [],
        types: [],
        journals: [],
        authors: [],
        tags: []
      },
      datesRange: [],
      datepickerMenu: false,
      appliedFilters:{},

    }
  },
  computed: {
    formatFilter: function () {
      let filters = {}
      const [startDate, endDate] = this.criteria.pickerDate
        .split('-')
        .filter(d => d)
        .map(d => new Date(d).toISOString().split('T')[0])

      if (startDate) {
        filters.publication_date_start = startDate
        filters.publication_date_end = endDate || startDate
      }

      if (this.criteria.sources.length != 0) {
        filters.data_sources = this.criteria.sources
      }
      if (this.criteria.types.length != 0) {
        filters.article_types = this.criteria.types
      }
      if (this.criteria.journals.length != 0) {
        filters.journals = this.criteria.journals
      }
      if (this.criteria.authors.length != 0) {
        filters.author_names = this.criteria.authors
      }
      if (this.criteria.tags.length != 0) {
        filters.ontology_tags = this.criteria.tags
      }
      if (this.criteria.starred_only) {
        filters.starred = true
      }
      return filters
    }
  },
  methods: {
    setPickerDate (newDate) {
      this.criteria.pickerDate = newDate
      this.applyFilters()
    },
    applyFilters() {
      this.appliedFilters = this.formatFilter
      this.$emit('applyFilters', this.appliedFilters)
    },
    clearFilters() {
      this.datesRange = []
      this.criteria.starred_only = false
      this.criteria.sources = []
      this.criteria.types = []

      this.criteria.journals = []
      this.criteria.authors = []
      this.criteria.tags = []
      this.criteria.pickerDate = ''

      this.applyFilters()
    },
    useFilters() {
      const getProp = (filterProperty, value = []) => this.filters[filterProperty]
        ? this.filters[filterProperty]
        : value

      this.criteria.pickerDate = getProp('pickerDate', '')
      this.criteria.dateRange.startDate = getProp('publication_date_start', null)
      this.criteria.dateRange.endDate = getProp('publication_date_end', null)
      this.criteria.starred_only = getProp('starred', false)
      this.criteria.sources = getProp('data_sources')
      this.criteria.journals = getProp('journals')
      this.criteria.authors = getProp('author_names')
      this.criteria.types = getProp('article_types')
      this.criteria.tags = getProp('ontology_tags')
    }
  },
  created() {
    this.useFilters()
  }
}
</script>

<style lang="scss" scoped>
</style>
