<template>
  <div>
    <div class="fz-16 openSans-300 mb-4 txt-primary-black " v-text="label"></div>
    <v-menu
      v-model="open"
      offset-y
      :close-on-content-click="!keepOpenOnSelect"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          append-icon="mdi-magnify"
          :label="placeholder"
          v-model="searchFilter"
          v-on="on"
          v-bind="attrs"
          @focus="focus"
          @blur="blur"
        ></v-text-field>
      </template>
      <div class="wrapper" ref="wrapper">
        <div
          class="pending"
          v-if="isLoading && items.length === 0"
        >{{ loadingText }}</div>
        <div
          class="pending"
          v-else-if="items.length === 0"
        >
          {{ noResultsText }}
        </div>
        <div v-else>
          <button
            v-for="(item, index) in items"
            :key="item"
            :class="activeIndex === index ? 'active' : ''"
            :disabled="isLoading"
            @click="addItem(item)"
          >
            {{item}}
          </button>
        </div>
      </div>
    </v-menu>
    <v-chip v-for="item in selected" :key="item" class="mr-2 mt-2 openSans-400 fz-14 filter-chips" label>{{ item }}  
      <v-icon @click="removeItem(item)" class="chip-button" dense right>mdi-close-circle-outline</v-icon>
    </v-chip>
  </div>
</template>

<script>
import ProjectService from "@/modules/projects/services/ProjectService.js"

export default {
  name: 'FilterAutocomplete',
  props: {
    keepOpenOnSelect: {
      type: Boolean,
      default: false
    },
    model: Array,
    label: String,
    loadingText: {
      type: String,
      default: 'Loading'
    },
    noResultsText: {
      type: String,
      default: 'No results'
    },
    filters: Object,
    propertyName: String,
    placeholder: String,
    onChange: Function
  },
  data () {
    return {
      activeIndex: 0,
      isLoading: false,
      items: [],
      keyboardEventListener: (event) => {
        if (event.key === 'Tab') {
          if (this.open) {
            this.open = false
          }
          return
        }
        if (event.key === 'Space') {
          event.stopPropagation()
          event.preventDefault()
          this.open = true
        }
        if (event.key === 'Enter') {
          if (this.open) {
            const { item } = this.getWrapperAndItem()
            if (!item) {
              return
            }

            this.addItem(item.innerText)
            // Don't close on click, for now
            this.open = this.keepOpenOnSelect
            this.activeIndex = -1
          } else {
            this.open = true
          }
        }
        if (['ArrowUp', 'ArrowDown'].includes(event.key)) {
          const delta = event.key === 'ArrowUp'
            ? -1
            : 1
          this.activeIndex = (this.activeIndex + delta + this.items.length) % this.items.length

          const { wrapper, item } = this.getWrapperAndItem()
          if (!wrapper || !item) {
            return
          }

          const wrapperBounds = wrapper.getBoundingClientRect()
          const itemBounds = item.getBoundingClientRect()

          const maxY = itemBounds.y - wrapperBounds.y + wrapper.scrollTop
          const minY = Math.max(0, maxY + itemBounds.height - wrapperBounds.height)

          wrapper.scroll(
            0,
            Math.max(minY, Math.min(maxY, wrapper.scrollTop))
          )
          this.open = true
        }
      },
      open: false,
      searchFilter: ''
    }
  },
  methods: {
    addItem(item) {
      if (item && this.selected.indexOf(item) == -1) {
        this.open = this.keepOpenOnSelect
        this.items = []
        this.selected.push(item)
        this.onChange()
      }
    },
    blur () {
      window.removeEventListener('keydown', this.keyboardEventListener, true)
    },
    focus () {
      window.addEventListener('keydown', this.keyboardEventListener, true)
    },
    getWrapperAndItem () {
      const wrapper = this.$refs.wrapper
      if (!wrapper) {
        return {}
      }
      const item = wrapper.querySelectorAll('button')[this.activeIndex]
      if (!item) {
        return { wrapper }
      }
      return { wrapper, item }
    },
    removeItem(item) {
      const index = this.selected.indexOf(item)
      if (index > -1) {
        this.selected.splice(index, 1)
        this.onChange()
      }
    },
    updateList () {
      // TODO: these ILM-specific fields should not be in a common component
      const inputValue = this.searchFilter

      this.isLoading = true

      let equalNames = new Map();
      equalNames.set('journal', 'journals');
      equalNames.set('author', 'author_names');
      equalNames.set('ontology_tag', 'ontology_tags');

      let filters = { ...this.filters }
      
      if (equalNames.get(this.propertyName) in filters) delete filters[equalNames.get(this.propertyName)];

      filters[this.propertyName] = inputValue || ""
      ProjectService.filtersAutocomplete(this.$route.params.projectId, filters).then(response => {
        this.items = response.data.filter(item => item)
      })
      .catch(err => {
        console.log(err)
      })
      .finally(() => (this.isLoading = false))
    }
  },
  computed: {
    selected: {
      get() {
        return this.model
      },
      set(value) {
        this.$emit('update:model', value)
      }
    }
  },
  watch: {
    open (isOpen) {
      if (!isOpen) {
        this.searchFilter = ''
      } else {
        this.updateList()
      }
    },
    searchFilter () {
      this.updateList()
    }
  }
}
</script>

<style lang="css" scoped>
.wrapper {
  background-color: #fff;
  max-height: 300px;
  overflow: auto;
}

.wrapper button,
.wrapper .pending {
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  padding: .5rem 1rem;
  text-align: left;
  width: 100%;
}

.wrapper button:hover {
  background-color: #f6f6f6;
}

.wrapper button:active,
.wrapper button.active {
  background-color: #dcdcdc;
}

.filter-chips {
  max-width: 100%;
  padding-right: .5rem;
}

.filter-chips >>> span {
  width: 100%;
  position: relative;

  padding-right: 2rem;

  display: block;
  padding-top: .4rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-chips >>> span > button {
  position: absolute;
  right: 10px;
}
.filter-chips >>> span > button:focus {
  background-color: #888;
  border-radius: 100%;
}

button:disabled {
  opacity: 0.6;
}
</style>