<template>
  <div v-if="ontologyChartData.length != 0 && chartData.keys != 0">
    <div class="breadcrumb">
      <span class="fz-16 openSans-400 txt-primary-black" v-if="rootLevel">{{knowledgeGraphText}}</span>
      <span v-else><a @click="drawOntologyChart">{{knowledgeGraphText}}</a> / {{ chartData.title }}</span>
    </div>
    <horizontal-bar-chart @select="drawKeywordChart" v-if="ontologyChartData && chartData" :chart-data="chartData"></horizontal-bar-chart>
  </div>
</template>

<script>
import HorizontalBarChart from "@/modules/common/components/HorizontalBarChart";
import Tools from "@/modules/common/utils/Tools";
export default {
  name: "OntologyTagChart",
  components: {HorizontalBarChart},
  props: {
    ontologyChartData: Array,
    knowledgeGraphText: {
      type: String,
      default: "Knowledge Graph"
    }
  },
  data() {
    return {
      chartData:{},
      rootLevel: true,
    }
  },
  methods : {
    drawOntologyChart() {
      let group = this.ontologyChartData.reduce((r, a) => {
        r[a.ontology_name] = [...r[a.ontology_name] || [], a];
        return r;
      }, {});
      const values = Object.values(group)
      let data = []
      values.forEach(e => {
        let running_total = 0
        if ( e.length > 1 ) {
          e.forEach(nested_element => {
            running_total = running_total + nested_element.total
          })
        } else {
          running_total = e[0].total
        }
        data.push({
          name: e[0].ontology_name,
          total: running_total,
          hasChildren: true,
          keyword: e[0].keyword,
          color: Tools.getRGBA(Tools.stringToColour(e[0].ontology_name))
        })
      })
      this.chartData = {title: "Categories", data: data}
      this.rootLevel = true
    },
    drawKeywordChart(ontology) {
      let filtered_data = this.ontologyChartData.filter( o => o.ontology_name == ontology.name )
      let data = []
      filtered_data.forEach(e => {
        data.push({
          name: e.keyword[0].keyword,
          total: e.total,
          hasChildren: false,
          color: Tools.getRGBA(Tools.stringToColour(ontology.name))
        })
      })
      this.chartData = {title: ontology.name, data: data}
      this.rootLevel = false
    }
  },
  created() {
    this.drawOntologyChart()
  }
}
</script>

<style scoped>
div.breadcrumb {
  /*font-size: 0.8em;*/
  margin: 5px 0px;
}
</style>