<template>
  <div class="wrapper">
    <div class="content-wrapper">
      <div class="top-row">
        <h4>{{ l10n('filters') }}</h4>
        <button @click="toggleFilter">
          <v-icon>mdi-close</v-icon>
        </button>
      </div>
      <div class="input-wrapper">
        <Checkbox
          :value="bookmarkedOnly"
          :label="l10n('bookmarkedArticlesOnly')"
          @update="value => updateFilter({ bookmarkedOnly: value })"
        />
      </div>
      <div class="input-wrapper">
        <DatePicker
          :label="l10n('dateRange')"
          :saveText="l10n('save')"
          :value="dateRange"
          @update="dateRange => updateFilter({ dateRange })"
        />
      </div>
      <div
        class="input-wrapper"
        v-for="type in [
          'sources',
          'journals',
          'authors',
          'publicationTypes',
          'ontologyTags'
        ]"
        :key="type"
      >
        <Dropdown
          :noResultsText="l10n('noResults')"
          :label="l10n(type)"
          :items="$props[type]"
          :loading="(
            (type === 'authors' && reloadingAuthors) ||
            (type === 'journals' && reloadingJournals) ||
            (type === 'ontologyTags' && reloadingOntologies)
          )"
          :selected="$props[`${type}Selected`]"
          @input="value => updateQuery(type, value)"
          @open="() => openDropdown(type)"
          @updated="value => updateFilter({ [type]: value })"
        />
      </div>
      <button
        class="clear-button"
        @click="clearFilters()"
      >
        {{ l10n('clearFilters') }}
      </button>
    </div>
  </div>
</template>

<script>
import Checkbox from '@/modules/common/components/Checkbox.vue'
import DatePicker from '../components/DatePicker.vue'
import Dropdown from '../components/Dropdown.vue'

export default {
  name: 'ArticleFilter',
  components: {
    Checkbox,
    DatePicker,
    Dropdown
  },
  props: {
    l10n: Function,
    authors: Array,
    authorsSelected: Array,
    bookmarkedOnly: Boolean,
    dateRange: String,
    journals: Array,
    journalsSelected: Array,
    ontologyTags: Array,
    ontologyTagsSelected: Array,
    publicationTypes: Array,
    publicationTypesSelected: Array,
    reloadingAuthors: Boolean,
    reloadingJournals: Boolean,
    reloadingOntologies: Boolean,
    sources: Array,
    sourcesSelected: Array,
    types: Array
  },
  methods: {
    clearFilters () {
      this.updateFilter({
        authors: [],
        bookmarkedOnly: false,
        dateRange: '',
        journals: [],
        ontologyTags: [],
        publicationTypes: [],
        sources: [],
      })
    },
    openDropdown (type) {
      this.$emit('filterOpened', type)
    },
    toggleFilter () {
      this.$emit('filterToggled', false)
    },
    updateFilter (newFilters) {
      this.$emit(
        'updated',
        [
          'authors',
          'journals',
          'ontologyTags',
          'publicationTypes',
          'sources'
        ].reduce(
          (hash, prop) => ({
            ...hash,
            [prop]: newFilters[prop] || this[`${prop}Selected`] || []
          }),
          {
            bookmarkedOnly: newFilters.bookmarkedOnly != null
              ? newFilters.bookmarkedOnly
              : this.bookmarkedOnly != null
                ? this.bookmarkedOnly
                : false,
            dateRange: newFilters.dateRange != null
              ? newFilters.dateRange
              : this.dateRange != null
              ? this.dateRange
              :  ''
          }
        )
      )
    },
    updateQuery (type, value) {
      this.$emit('queryUpdated', type, value)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';

.wrapper {
  background-color: $--theme-bg;
  box-shadow: 0 0 1px 2px $--theme-shadow;
  height: 100%;
  overflow: auto;
  padding: 20px;
  position: relative;
  width: calc(100% - 3px);
}

.content-wrapper {
  max-width: 205px;
  display: flex;
  flex-direction: column;
  // TODO: bad accessibility but matches mockups
  font-size: 13px;
  margin: auto;
}

.top-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

.clear-button {
  color: $--theme-alert;
  font-weight: 600;
  text-align: left;
  font-size: 16px;
  padding: 8px 0;
}
.clear-button:hover {
  filter: brightness(.7);
}

.input-wrapper {
  padding: 8px 0;
}
</style>
