<template>
  <div>
    <div :class="`article-wrapper${shadow ? ' shadow' : ''}`">
      <router-link
        class="article-title"
        :to="articleLink"
      >
        <span>{{ title }}</span>
      </router-link>
      <div class="tag-wrapper">
        <div
          v-for="({ keyword, name }) in ontologyTags"
          :key="keyword"
          class="tag"
          :style="`background-color: ${getTagColor(name)}`"
        >
          {{ keyword }}
        </div>
      </div>
      <div class="info-wrapper">
        <div :title="l10n('publicationDateTooltip')">
          <v-icon>mdi-calendar</v-icon> {{ publicationDate }}
        </div>
        <div :title="l10n('authorsTooltip')">
          <AuthorsLabels
            :authors="authors"
            :l10n="l10n"
          />
        </div>
        <div :title="l10n('journalTooltip')">
          <v-icon>mdi-book-outline</v-icon> {{ journal }}
        </div>
        <div :title="l10n('sourceTypeTooltip')">
          <v-icon>mdi-file-document-outline</v-icon> {{ publicationType }}
        </div>
      </div>
      <div v-if="showExpanded" class="summary-wrapper">
        <h4>{{ l10n('autoSummary') }}</h4>
        <div class="button-row">
          <button
            v-if="!disabled"
            class="button"
            :title="l10n('copyLinkTooltip')"
            @click="copyCitation"
          >
            <v-icon>mdi-content-copy</v-icon>
            {{
              copyCitationActiveTimeout
                ? l10n('citationCopied')
                : l10n('copyCitation')
            }}
          </button>
        </div>
        <div :class="`article-links${disabled ? ' no-highlight' : ''}`" v-if="articleLinks && articleLinks.length">
          <div>{{ l10n('articleLinks') }}</div>
          <a
            v-for="link in articleLinks"
            :key="link"
            :href="link"
            rel="noreferrer"
            target="_blank"
          >
            {{ link }}
          </a>
        </div>
        <div>
          <OntologyTagChart
            v-if="ontologyTagChart.length"
            :disabled="disabled"
            :l10n="l10n"
            :knowledgeGraphText="$vuetify.lang.t('$vuetify.ilm.labels.knowledgeGraph')"
            :ontologyChartData="ontologyTagChart"
            class="mt-10 mb-10"
          />
        </div>
        <div class="summary-wrapper">
          <MarkdownToHtml :class="isLoadingSpans ? 'blur-text' : ''" class="fz-16 paragraph-line-height" :source="spans"></MarkdownToHtml>
          <div v-if="isLoadingSpans" class="spans-loading">
            <LoadingIcon />
          </div>
        </div>
      </div>
      <div class="button-row">
        <button
          v-if="!disabled"
          class="button"
          @click="() => toggleExpanded()"
        >
          <v-icon v-if="showExpanded">mdi-chevron-up-circle-outline</v-icon>
          <v-icon v-else>mdi-chevron-down-circle-outline</v-icon>
          {{ showExpanded ? l10n('viewLess') : l10n('viewMore') }}
        </button>
        <button
          v-if="!disabled"
          class="button"
          @click="toggleBookmark"
        >
          <v-icon>{{
            bookmarked
              ? 'mdi-bookmark'
              : 'mdi-bookmark-outline'
            }}</v-icon>
          {{
            bookmarked
              ? l10n('removeBookmark')
              : l10n('bookmarkArticle')
          }}
        </button>
        <button
          v-if="!disabled"
          class="button"
          :title="l10n('copyLinkTooltip')"
          @click="copyLink"
        >
          <v-icon>mdi-content-copy</v-icon>
          {{
            copyLinkActiveTimeout
              ? l10n('linkCopied')
              : l10n('copyLink')
          }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import AuthorsLabels from '@/modules/common/components/AuthorsLabels.vue'
import Tools from '@/modules/common/utils/Tools.mjs'
import LoadingIcon from '@/modules/common/components/icons/LoadingIcon.vue'
import MarkdownToHtml from '@/modules/common/components/MarkdownToHtml.vue'
import OntologyTagChart from "../components/OntologyTagChart.vue"

export default {
  name: 'Article',
  components: {
    AuthorsLabels,
    LoadingIcon,
    MarkdownToHtml,
    OntologyTagChart
  },
  data () {
    return {
      copyCitationActiveTimeout: 0,
      copyLinkActiveTimeout: 0,
      innerExpanded: false,
      useInnerExpanded: false
    }
  },
  props: {
    articleId: String,
    articleLink: String,
    articleLinks: Array,
    authors: Array,
    bookmarked: Boolean,
    citation: String,
    disabled: Boolean,
    expanded: Boolean,
    isLoadingSpans: Boolean,
    journal: String,
    l10n: Function,
    ontologyTags: Array,
    ontologyTagChart: Array,
    publicationDate: String,
    publicationType: String,
    shadow: Boolean,
    spans: String,
    summary: String,
    title: String
  },
  computed: {
    showExpanded () {
      return this.useInnerExpanded
        ? this.innerExpanded
        : this.expanded
    },
  },
  methods: {
    copyCitation () {
      Tools.copyToClipboard(this.citation)
      clearTimeout(this.copyCitationActiveTimeout)
      this.copyCitationActiveTimeout = setTimeout(() => {
        this.copyCitationActiveTimeout = 0
      }, 1e3)
    },
    copyLink () {
      Tools.copyToClipboard(`${window.location.origin}${this.articleLink}`)
      clearTimeout(this.copyLinkActiveTimeout)
      this.copyLinkActiveTimeout = setTimeout(() => {
        this.copyLinkActiveTimeout = 0
      }, 1e3)
    },
    toggleBookmark () {
      this.$emit('bookmarkToggled', !this.bookmarked)
    },
    getTagColor (name) {
      return Tools.getRGBA(Tools.stringToColour(name))
    },
    toggleExpanded (newExpanded = !this.showExpanded) {
      this.useInnerExpanded = true
      this.innerExpanded = newExpanded
    },
  },
  watch: {
    expanded () {
      this.useInnerExpanded = false
      if (this.expanded || this.innerExpanded) {
        // if this is expanded, propagate an event to the parent to load more data
        this.$emit('expanded')
      }
    },
    useInnerExpanded () {
      if (this.expanded || this.innerExpanded) {
        // if this is expanded, propagate an event to the parent to load more data
        this.$emit('expanded')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';

.article-wrapper {
  background-color: $--theme-bg;
  padding: 40px;
  position: relative;
  width: 100%;
  font-size: 13px; // TODO: bad accessibility but matches mockups
}
.article-wrapper.shadow {
  box-shadow: 0 0 1px 2px $--theme-shadow;
}

.article-title {
  color: $--theme-text;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}
.article-title:focus,
.article-title:hover {
  outline: none;
  text-decoration: underline;
}

.info-wrapper {
  display: flex;
  flex-wrap: wrap;
  div {
    margin-right: 10px;
  } // To test with real data: justify space-between was used, but didn't work well on long strings, applied a basic margin for now.
}

.tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  margin: 20px -4px;
}
.tag {
  border-radius: 10px;
  margin: 4px;
  padding: 1px 10px;
}

.article-links {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 16px -2px 8px -2px;
}
.article-links div {
  margin: 2px;
}
.article-links a {
  color: $--theme-text;
  padding: 0 2px;
}
.article-links.no-highlight a {
  text-decoration: underline;
}

.summary-wrapper {
  font-size: 16px;
  margin: 20px 0;
  position: relative;
}
.summary-wrapper h4 {
  font-size: 20px;
  font-weight: 500;
}

.button-row {
  font-size: 16px;
  margin: 10px -10px;
}

.button {
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  padding: 4px 10px;
  position: relative;
}
.button:hover,
.button:focus {
  color: $--theme-primary;
}
.button i,
.button i {
  color: inherit !important;
  transition: none !important;
}
.button:focus:after {
  background-color: $--theme-primary;
  bottom: 0;
  content: "";
  height: 2px;
  left: 10px;
  position: absolute;
  right: 10px;
}

.spans-loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  top: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.blur-text {
  filter: blur(3px);
}

</style>
