<template>
  <v-menu
    ref="menu"
    v-model="open"
    :close-on-content-click="false"
    offset-y
    min-width="auto"
  >
    <template v-slot:activator="{ props }">
      <label>
        {{ label }}
        <button
          v-bind="props"
          :class="open ? 'calendar-open' : ''"
          @click="openDatePicker"
        >
          <span>
            {{ formattedDate }}
          </span>
          <CalendarIcon class="calendar-icon" width="20" />
        </button>
      </label>
    </template>
    <div class="date-picker-wrapper">
      <div class="top-bar">
        <button @click="() => incrementVisibleMonth(-12)"><ChevronsLeftIcon width="20" /></button>
        <button @click="() => incrementVisibleMonth(-1)"><ChevronLeftIcon width="20" /></button>
        <div class="month-title">{{ monthTitle }}</div>
        <button @click="() => incrementVisibleMonth(1)"><ChevronRightIcon width="20" /></button>
        <button @click="() => incrementVisibleMonth(12)"><ChevronsRightIcon width="20" /></button>
      </div>
      <table class="calendar" cellspacing="0">
        <thead>
          <tr>
            <th v-for="(day) in daysInWeek" :key="day">
              {{ day }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="({ key, days }) in weeksInMonth" :key="key">
            <td
              v-for="({
                dateStr,
                day,
                isEndSelectedDate,
                isStartSelectedDate,
                isInMonth,
                isInRange
              }) in days"
              :key="dateStr"
            >
              <button @click="() => selectDay(dateStr)">
                <div
                  :class="[
                    !isInMonth && 'day-other-month',
                    isStartSelectedDate && 'selected-start-date',
                    isInRange && 'selected-date-range',
                    isEndSelectedDate && 'selected-end-date'
                  ].filter(c => c).join(' ')"
                >
                  {{ day }}
                </div>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button
        class="save-button"
        @click="() => $data.open = false"
      >
        {{ saveText }}
      </button>
    </div>
  </v-menu>
</template>
<script>
import Tools from '@/modules/common/utils/Tools.mjs'
import CalendarIcon from '@/modules/common/components/icons/CalendarIcon.vue'
import ChevronLeftIcon from '@/modules/common/components/icons/ChevronLeftIcon.vue'
import ChevronsLeftIcon from '@/modules/common/components/icons/ChevronsLeftIcon.vue'
import ChevronRightIcon from '@/modules/common/components/icons/ChevronRightIcon.vue'
import ChevronsRightIcon from '@/modules/common/components/icons/ChevronsRightIcon.vue'

const pad = monthDay => `${monthDay || ''}`.padStart(2, '0')

const makeArray = (count, fn) => Array.from(Array(count), (_, i) => fn(i))

export default {
  name: 'DatePicker',
  components: {
    CalendarIcon,
    ChevronLeftIcon,
    ChevronsLeftIcon,
    ChevronRightIcon,
    ChevronsRightIcon
  },
  props: {
    label: String,
    saveText: {
      type: String,
      default: 'Save'
    },
    value: String
  },
  data () {
    return {
      open: false,
      potentialDate: '',
      visibleDateMs: Date.now()
    }
  },
  computed: {
    daysInWeek () {
      return makeArray(7, index => {
        const d = new Date()
        d.setDate(d.getDate() - d.getDay() + index)
        return d.toLocaleString(navigator.language, { weekday: 'short' })
      })
    },
    formattedDate () {
      return Tools.formatDatePickerFormat(
        this.open ? this.potentialDate : this.value,
        { showDuplicates: this.open }
      )
    },
    monthTitle () {
      const d = new Date(this.visibleDateMs)
      return `${d.toLocaleString(navigator.language, { month: 'long' })} ${d.getFullYear()}`
    },
    weeksInMonth () {
      const [currentStartDate, currentEndDate] = this.potentialDate.split('-')
      const { year, month } = Tools.getTimeValues(this.visibleDateMs)

      const firstOfMonth = new Date(
        new Date(
          `${year}/${pad(month + 1)}/01`
        ).getTime()
      )
      const dayOffset = firstOfMonth.getUTCDay()

      return makeArray(6, weekIndex => ({
        key: `${year}-${month}-${weekIndex}`,
        days: makeArray(7, dayIndex => {
          const dayDate = new Date(firstOfMonth.getTime())
          dayDate.setDate(
            dayDate.getDate() + (dayIndex + weekIndex * 7 - dayOffset)
          )
          const { year: y, month: m, day: d } = Tools.getTimeValues(dayDate)
          const dateStr = `${pad(m + 1)}/${pad(d)}/${y}`
          return {
            dateStr,
            day: d,
            isEndSelectedDate: dateStr === (currentEndDate || currentStartDate),
            isStartSelectedDate: dateStr === currentStartDate,
            isInMonth: year === y && month === m,
            isInRange: (
              new Date(currentStartDate).getTime() < new Date(dateStr).getTime() &&
              new Date(dateStr).getTime() < new Date(currentEndDate).getTime()
            )
          }
        })
      }))
    },
    year () {
      return Tools.getTimeValues(this.visibleDateMs).year
    }
  },
  methods: {
    cancel () {
      this.potentialDate = this.value || ''
      this.open = false
    },
    keyEventListener({ key }) {
      if (key === 'Backspace') {
        this.potentialDate = ''
        this.open = false
        this.$emit('update', '')
      }
      if (key === 'Escape') {
        this.cancel()
      }
    },
    openDatePicker () {
      this.open = true
    },
    selectDay (dateStr) {
      const [currentStartDate, currentEndDate] = this.potentialDate.split('-')

      if (currentEndDate) {
        this.potentialDate = dateStr
      } else if (currentStartDate) {
          this.potentialDate = new Date(currentStartDate).getTime() <= new Date(dateStr).getTime()
            ? `${currentStartDate}-${dateStr}`
            : dateStr
      } else {
        this.potentialDate = dateStr
      }
    },
    incrementVisibleMonth (delta) {
      const d = new Date(this.visibleDateMs)
      d.setMonth(d.getMonth() + delta)
      this.visibleDateMs = d.getTime()
    }
  },
  mounted () {
    const startValue = (this.value || '').split('-')[0]
    this.visibleDateMs = startValue ? new Date(startValue).getTime() : Date.now()

    window.addEventListener('keydown', this.keyEventListener, true)
  },
  unmounted () {
    window.removeEventListener('keydown', this.keyEventListener, true)
  },
  watch: {
    open (open) {
      if (!open) {
        this.$emit('update', this.potentialDate || this.value || '')
      }
    }
  }
}
</script>


<style lang="scss" scoped>
@import '@/theme.scss';

label {
  display: flex;
  flex-direction: column;
}
label button {
  border: 1px solid $--theme-inactive;
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  height: 28px;
  padding: 2px 4px;
  text-align: left;
}
.calendar-open,
label button:active,
label button:focus {
  outline: 1px solid $--theme-primary;
}

label button span {
  flex: 1;
}
.calendar-icon {
  fill: $--theme-inactive;
}

.date-picker-wrapper {
  background-color: $--theme-bg;
  padding: 10px 20px;
}

.top-bar {
  align-items: center;
  display: flex;
  font-weight: 500;
  padding: 10px 0;
}
.top-bar button {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 4px;
  width: 36px;

}
.top-bar button svg {
  fill: $--theme-inactive;
}
.top-bar button:active svg {
  fill: $--theme-text;
}

.top-bar .month-title {
  flex: 1;
  text-align: center;
}

.calendar {
  padding: 5px 0;
}

.calendar th {
  color: $--theme-inactive;
  text-transform: uppercase;
  width: 40px;
}
.calendar td button {
  padding: 5px 0;
  outline: none;
}
.calendar td button div {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 32px;
  justify-content: center;
  text-align: center;
  width: 42px;
}
.calendar td button:focus div {
  outline: none;
  box-shadow: inset 0 0 0 2px $--theme-calendar-selected, inset 0 0 0 4px $--theme-text-inverted;
}

.day-other-month {
  color: $--theme-inactive;
}

.selected-start-date,
.selected-end-date {
  background-color: $--theme-calendar-selected;
  color: $--theme-text-inverted;
  font-weight: 600;
}

.selected-start-date:not(.selected-end-date) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.selected-end-date:not(.selected-start-date) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.calendar td button div.selected-date-range {
  background-color: $--theme-calendar-selected-range;
  border-radius: 0;
  color: $--theme-calendar-selected; // TODO: Probably bad for accessibility
  font-weight: 600;
}

.save-button {
  border-radius: 4px;
  color: $--theme-primary;
  font-weight: 500;
  outline: none;
  padding: 5px 10px;
}
.save-button:focus {
  box-shadow: inset 0 0 0 2px $--theme-primary;
}

</style>
