<template>
    <v-menu
      ref="menu"
      v-model="open"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      min-width="auto"
      :offset-overflow="true"
    >
      <template v-slot:activator="{ props }">
        <label>
          {{ label }}
          <input
            ref="textInput"
            v-bind="props"
            @blur="blur"
            @click="openMenu"
            @focus="focus"
            @input="textFilterUpdated"
          />
          <div v-if="loading && open" class="loading-input-spinner">
            <LoadingIcon height="20px" />
          </div>
        </label>
        
        <div class="tag-wrapper">
          <button
            v-for="tag in selected"
            :key="tag"
            class="tag"
            @click="() => removeItem(tag)"
          >
            {{ tag }}
            <v-icon small>mdi-close</v-icon>
          </button>
        </div>
      </template>
      <div class="menu-wrapper" ref="wrapper">
        <div
          v-if="loading && sortedItems.length === 0"
          class="loading"
        >
          <LoadingIcon height="20px" />
        </div>
        <div
            v-else-if="sortedItems.length === 0"
            style="padding: 4px 8px"
          >
            {{ noResultsText }}
        </div>
        <div v-else>
          <button
            v-for="(item, index) in sortedItems"
            :key="item"
            :class="`menu-item${activeIndex === index ? ' active' : ''}`"
            @click="() => selectItem(item)"
          >
            {{ item }}
          </button>
        </div>
      </div>
  </v-menu>
</template>

<script>
import LoadingIcon from '@/modules/common/components/icons/LoadingIcon.vue'

export default {
  name: 'Dropdown',
  components: {
    LoadingIcon
  },
  props: {
    items: Array,
    label: String,
    loading: Boolean,
    noResultsText: {
      type: String,
      default: 'No results'
    },
    selected: {
      type: Array,
      default: () => ([])
    }
  },
  data () {
    return {
      activeIndex: 0,
      keyboardEventListener: (event) => {
        if (event.key === 'Tab') {
          if (this.open) {
            this.open = false
          }
          return
        }
        if (event.key === 'Space') {
          event.stopPropagation()
          event.preventDefault()
          this.open = true
        }
        if (event.key === 'Enter') {
          if (this.open) {
            const { item } = this.getWrapperAndItem()
            if (!item) {
              return
            }

            this.selectItem(
              this.sortedItems[this.activeIndex]
            )
          } else {
            this.open = true
          }
        }
        if (['ArrowUp', 'ArrowDown'].includes(event.key)) {
          const delta = event.key === 'ArrowUp'
            ? -1
            : 1
          this.activeIndex = (this.activeIndex + delta + this.sortedItems.length) % this.sortedItems.length

          const { wrapper, item } = this.getWrapperAndItem()
          if (!wrapper || !item) {
            return
          }

          const wrapperBounds = wrapper.getBoundingClientRect()
          const itemBounds = item.getBoundingClientRect()

          const maxY = itemBounds.y - wrapperBounds.y + wrapper.scrollTop
          const minY = Math.max(0, maxY + itemBounds.height - wrapperBounds.height)

          wrapper.scroll(
            0,
            Math.max(minY, Math.min(maxY, wrapper.scrollTop))
          )
          this.open = true
        }
      },
      open: false,
      textInputUpdateTimeout: 0
    }
  },
  computed: {
    sortedItems () {
      return this.items
        .filter(item => !this.selected.includes(item))
        .sort((a, b) => a > b ? 1 : a < b ? -1 : 0)
    }
  },
  methods: {
    blur () {
      window.removeEventListener('keydown', this.keyboardEventListener, true)
    },
    findBestMatchIndex ()  {
      // Find the best match
      const options = this.sortedItems.map(item => item.toLowerCase())

      // this.activeIndex = e.target.value
      this.activeIndex = this.$refs.textInput.value
        // Search only lowercase
        .toLowerCase()
        // Break up the string by character
        // (ex: jim -> ['j', 'ji', 'jim'])
        .split('')
        .reduce((strs, c) => strs.concat(strs.slice(-1) + c), [])
        // Find the best match index
        .reduce(
          (bestIndex, str) => {
            const index = options.findIndex(o => o.startsWith(str))
            return index === -1
              ? bestIndex
              : index
          },
          0
        )
    },
    focus () {
      window.addEventListener('keydown', this.keyboardEventListener, true)
    },
    getWrapperAndItem () {
      const wrapper = this.$refs.wrapper
      if (!wrapper) {
        return {}
      }
      const item = wrapper.querySelectorAll('button')[this.activeIndex]
      if (!item) {
        return { wrapper }
      }
      return { wrapper, item }
    },
    openMenu () {
      this.open = true
    },
    selectItem (text) {
      this.open = false
      this.activeIndex = 0
      this.$emit('updated', this.selected.concat(text))
    },
    removeItem (removedText) {
      this.$emit('updated', this.selected.filter(text => removedText !== text))
    },
    textFilterUpdated ({ target }) {
      this.findBestMatchIndex()

      clearTimeout(this.textInputUpdateTimeout)
      this.textInputUpdateTimeout = setTimeout(() => {
        this.textInputUpdateTimeout = 0
        this.$emit('input', target.value)
      }, 500)
    }
  },
  watch: {
    open (open) {
      if (open) {
        this.$emit('open')
      } else {
        this.$refs.textInput.value = ''
        this.$emit('input', '')
      }
    }
  }
}
</script>


<style lang="scss" scoped>
@import '@/theme.scss';

label {
  display: flex;
  flex-direction: column;
  position: relative;
}

input {
  background-color: $--theme-bg;
  border: 1px solid $--theme-inactive;
  border-radius: 4px;
  padding: 2px 4px;
}
input:active,
input:focus {
  outline: 1px solid $--theme-primary;
}

.menu-wrapper {
  background-color: $--theme-bg;
  max-height: 300px;
  max-width: calc(100vw - 30px);
  overflow: scroll;
}

.menu-item {
  background-color: $--theme-bg;
  display: block;
  width: 100%;
  text-align: left;
  padding: 4px 8px;
  outline: none;
}
.menu-item:hover {
  font-weight: 500;
}
.menu-item.active {
  font-weight: 600;
}

.tag-wrapper {
  margin: 8px -4px 0 -4px;
}
.tag {
  background-color: $--theme-page-bg;
  border: 1px solid $--theme-inactive;
  border-radius: 4px;
  padding: 1px 4px;
  margin: 4px;
}
.tag i {
  color: inherit !important;
  transition: none !important;
}

.loading {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  padding: 4px 8px;
  width: 160px;
}
.loading svg {
  height: 20px;
}

.loading-input-spinner {
  position: absolute;
  right: -7px;
  bottom: -3px;
  pointer-events: none;
}

</style>
