<template>
  <div class="header-wrapper">
    <div class="title-container">
      <h3>
        {{ title ? title : l10n('loading') }}
      </h3>
      <Button
        :disabled="disabled"
        fill
        :title="l10n('exportDataTooltip')"
        @click="exportData"
      >
        {{ l10n('exportData') }}
      </Button>
    </div>
    <div class="row-container">
      <div :class="`button-container${totalArticles ? '' : ' hidden'}`">
        <strong>{{ firstArticlePage }}-{{ lastArticlePage }}</strong>
        <span>{{ l10n('ofNumArticles', totalArticles) }}</span>
      </div>
      <div class="button-container">
        <v-menu
          v-model="sortMenuOpen"
          offset-y
        >
          <template v-slot:activator="{ props }">
            <Button
              class="sort-button"
              v-bind="props"
              @click="openMenu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
            >
              {{ l10n('sortBy') }}: {{ sortByTitle ? l10n('title') : l10n('date') }}
              <component
                :is="sortMenuOpen ? 'CaretUpIcon' : 'CaretDownIcon'"
                class="caret"
              />
            </Button>
          </template>
          <div class="sort-menu-wrapper">
            <Button @click="() => applySortByTitle(false)">
              <CheckIcon v-if="!sortByTitle" />
              {{ l10n('date') }}
            </Button>
            <Button @click="() => applySortByTitle(true)">
              <CheckIcon v-if="sortByTitle" />
              {{ l10n('title') }}
            </Button>
            <hr />
            <Button @click="() => applySortByNewestFirst(true)">
              <CheckIcon v-if="sortByNewest" />
              {{ sortByTitle ? l10n('aToZ') : l10n('newestFirst') }}
            </Button>
            <Button @click="() => applySortByNewestFirst(false)">
              <CheckIcon v-if="!sortByNewest" />
              {{ sortByTitle ? l10n('zToA') : l10n('oldestFirst') }}
            </Button>
          </div>
        </v-menu>
        <Button
          :disabled="disabled"
          faded
          @click="() => toggleExpandAll(!expandedAll)"
        >{{
          expandedAll
            ? l10n('contractAll')
            : l10n('expandAll')
        }}</Button>
        <Button
          :disabled="disabled"
          faded
          fill
          active
          @click="toggleFilter"
        >{{ filterVisible ? l10n('hideFilter') : l10n('showFilter') }}</Button>
      </div>
    </div>
  </div>
</template>

<script>
import Button from '@/modules/common/components/Button.vue'
import CaretDownIcon from '@/modules/common/components/icons/CaretDownIcon.vue'
import CaretUpIcon from '@/modules/common/components/icons/CaretUpIcon.vue'
import CheckIcon from '@/modules/common/components/icons/CheckIcon.vue'

export default {
  name: 'Header',
  components: {
    Button,
    CaretDownIcon,
    CaretUpIcon,
    CheckIcon
  },
  data () {
    return {
      sortMenuOpen: false,
      titleSort: true
    }
  },
  props: {
    disabled: Boolean,
    expandedAll: Boolean,
    filterVisible: Boolean,
    firstArticlePage: Number,
    lastArticlePage: Number,
    l10n: Function,
    relevantTabActive: Boolean,
    sortByNewest: Boolean,
    sortByTitle: Boolean,
    title: String,
    totalArticles: Number
  },
  methods: {
    emitSortUpdate ({ newest = this.sortByNewest, title = this.sortByTitle }) {
      this.$emit('sortUpdated', {
        sortByNewest: newest,
        sortByTitle: title
      })
    },
    openMenu () {
      this.sortMenuOpen = true
    },
    toggleExpandAll (newExpandAll = !this.expandedAll) {
      this.$emit('expandAllToggled', newExpandAll)
    },
    toggleFilter () {
      this.$emit('filterToggled', !this.filterVisible)
    },
    toggleRelevantTab (relevantActive) {
      this.$emit('relevantTabToggled', relevantActive)
    },
    exportData () {
      this.$emit('exportData')
    },
    applySortByNewestFirst (newest) {
      this.emitSortUpdate({ newest })
    },
    applySortByTitle (title) {
      this.emitSortUpdate({ title })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';

.header-wrapper {
  padding: 0 40px;
  box-shadow: 0 0 1px 2px $--theme-shadow;
}
h3 {
  font-size: 2rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title-container {
  align-items: center;
  display: flex;
  height: 126px;
  justify-content: space-between;
}
.row-container {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin: 0 -40px;
  overflow: auto;
  padding: 0 40px;
  white-space: nowrap;
}

.button-container {
  margin: 0 -4px;
}
.button-container.hidden {
  opacity: 0;
}
.button-container > * {
  margin: 0 4px;
}

.sort-button {
  align-items: center;
  display: inline-flex;
}
.sort-button:hover {
  color: $--theme-text;
}

.caret {
  margin-left: 8px;
  width: 16px;
}

.sort-menu-wrapper {
  background-color: $--theme-bg;
  display: flex;
  flex-direction: column;
  padding: 2px;
}
.sort-menu-wrapper hr {
  border: 0;
  height: 1px;
  background-color: $--theme-inactive;
}
.sort-menu-wrapper button {
  align-items: center;
  display: inline-flex;
  text-align: left;
  padding: 0 32px 0 32px;
}
.sort-menu-wrapper button svg {
  margin-right: 2px;
  margin-left: -28px;
  padding: 2px;
}
.sort-menu-wrapper button:hover svg {
  fill: $--theme-primary !important;
}
</style>
