<template>
  <div class="chart-wrapper">
    <h4 v-if="graph.title">
      <button
        class="back-to-root-button"
        @click="() => selectRow('')"
      >
        {{ l10n('knowledgeGraph') }}
      </button>
      / {{ graph.title }}
    </h4>
    <h4 v-else>{{ l10n('knowledgeGraph') }}</h4>
    <table class="tag-wrapper">
      <tr
        v-for="({ color, name, total }) in graph.rows"
        :key="name"
      >
        <td>
          {{ name }}
        </td>
        <td>
          <button
            class="tag-bar"
            :style="`width: 100%; `"
            :disabled="disabled || !!graph.title"
            @click="() => selectRow(name)"
          >
            <div
              class="tag-bar-color"
              :style="`background-color: ${color}; width: ${
              100 * (total) / maxLength
            }%`"
            >
              {{ total }}
            </div>
            <ChevronRightIcon :class="graph.title ? 'icon-hidden' : ''" width="20" />
          </button>
        </td>
      </tr>
    </table>
    <div class="categories-label">
      {{ l10n('categories') }}
    </div>
    
  </div>
</template>

<script>
import ChevronRightIcon from '@/modules/common/components/icons/ChevronRightIcon.vue'

export default {
  name: "OntologyTagChart",
  components: {
    ChevronRightIcon
  },
  props: {
    disabled: Boolean,
    ontologyChartData: Array,
    l10n: Function

  },
  data () {
    return {
      activeOntology: ''
    }
  },
  computed: {
    graph () {
      if (this.activeOntology) {
        const { color, name, synonyms } = this.ontologyChartData.find(({ name }) => name === this.activeOntology)
        return {
          title: name,
          rows: synonyms.map(({ name, total }) => ({ color, name, total }))
        }
      } else {
        return {
          title: '',
          rows: this.ontologyChartData.map(({ color, name, total }) => ({
            color,
            name,
            total
          }))
        }
      }
    },
    maxLength () {
      return this.graph.rows.reduce((max, { total }) => Math.max(max, total), 0)
    }
  },
  methods: {
    selectRow (name) {
      if (!this.activeOntology || name === '') {
        this.activeOntology = name
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/theme.scss';

.chart-wrapper {
  max-width: 496px;
  padding: 30px;
  border: 1px solid $--theme-inactive-light;
}

.back-to-root-button {
  text-decoration: underline;
}

.categories-label {
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
}


.tag-wrapper {
  white-space: nowrap;
}
.tag-wrapper td:nth-child(2) {
  width: 100%;
}

.tag-wrapper button {
  padding: 5px 8px;
  text-align: left;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag-bar-color {
  padding: 3px 8px;
  border-radius: 4px;
}
.tag-wrapper button svg {
  display: block;
  fill: $--theme-inactive;
}
.tag-wrapper button:not(:disabled):hover .tag-bar-color {
  box-shadow: inset 0 0 0 99px rgba(255,255,255,.3);
}
.tag-wrapper button:not(:disabled):hover svg {
  fill: $--theme-text;
}
.icon-hidden {
  opacity: 0;
}
</style>