$--theme-bg: #fff;
$--theme-calendar-selected: #ad8aff;
$--theme-calendar-selected-range: #e6dcfe;
$--theme-faded-bg: #f8f8f8;
$--theme-inactive: #707070;
$--theme-inactive-light: #d9d9d9;
$--theme-page-bg: #f9fafc;
$--theme-primary: #48009e;
$--theme-primary-dark: #24004f;
$--theme-shadow: #e6e6e6;
$--theme-text: #000;
$--theme-text-inverted: #fff;
$--theme-alert: #ec6552;