/* Font Faces */

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-LightItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}


/* Layout */

.bg-white {
    background-color:white !important;
}


.txt-primary-black {
    color: #151515 !important;
}

.txt-viridian {
    color: #1d8755 !important;
}

.txt-secondary {
    color: #09609f !important;
}

.subtitle-color {
    color: #979797;
}

.txt-white {
    color: white;
}

.va-middle {
    vertical-align: middle;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mx-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

/* Texts */

.ta-left {
    text-align: left !important;
}

.ta-center {
    text-align: center !important;
}

.f-left {
    float: left;
}

.ta-right {
    text-align: right !important;
}

.fz-11 {
    font-size: 11px !important;
}

.fz-12 {
    font-size: 12px !important;
}

.fz-13 {
    font-size: 13px !important;
}

.fz-14 {
    font-size: 14px !important;
}

.fz-15 {
    font-size: 15px !important;
}

.fz-16 {
    font-size: 16px !important;
}

.fz-17 {
    font-size: 17px !important;
}

.fz-18 {
    font-size: 18px !important;
}

.fz-19 {
    font-size: 19px !important;
}

.fz-20{
    font-size: 20px !important;
}

.fz-21{
    font-size: 21px !important;
}

.fz-22{
    font-size: 22px !important;
}

.fz-23{
    font-size: 23px !important;
}

.fz-24{
    font-size: 24px !important;
}

.fz-25{
    font-size: 25px !important;
}

.fz-27{
    font-size: 27px !important;
}

.fz-28{
    font-size: 28px !important;
}

.fz-30{
    font-size: 30px !important;
}

.fz-32{
    font-size: 32px;
}

.openSans-100 {
    font-family: "OpenSans";
    font-weight:  100 !important;
}

.openSans-200 {
    font-family: "OpenSans";
    font-weight:  200 !important;
}

.openSans-bold {
    font-family: "OpenSans";
    font-weight: bold;
}

.openSans-300 {
    font-family: "OpenSans";
    font-weight:  300 !important;
}

.openSans-400 {
    font-family: "OpenSans";
    font-weight:  400 !important;
}

.openSans-500 {
    font-family: "OpenSans";
    font-weight:  500 !important;
}

.openSans-600 {
    font-family: "OpenSans";
    font-weight:  600 !important;
}

.pointer {
    cursor: pointer;
}

.default {
    cursor: default;
}

/* States */

a:hover {
    color: transparent;
    text-decoration: none;
}

