////////////////////////////////////////// Project.vue

// Action bar classes
.action-banner {
    background-color: #f4f4f4;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

// Filter column classes
.filter-banner {
    margin: -17px -17px 24px -17px;
    padding: 16px;
    border-radius: 5px 5px 0px 0px;
}

.filter-chips {
    background-color: #F4F8FF;
}

.gray-border-container {
    border: 1px solid #eaeaea !important;
    border-radius: 5px !important;
}

.article-separator {
    border-bottom: 1px solid #eaeaea !important;
    border-radius: 0px !important;
}

.article-separator:first-of-type {
    border-radius: 5px 5px 0px 0px !important;
}

.sticky-column {
    position: sticky !important;
    top: 80px !important;
}