<template>
  <div class="pt-3 px-8">
    <!-- These Toast notifications are not for V1 -->
    <!--
    <toast
      class="my-3"
      closeButton
      inline
      :show="showNotVerified"
      @close="closeNotVerified"
    >{{ $vuetify.lang.t('$vuetify.ivdr.toast.notVerified') }}</toast>
    <toast
      v-if="ingestedNotification"
      class="my-3"
      closeButton
      inline
      light
      :show="showIngestedNotification"
      @close="closeIngestedNotification"
    >{{ ingestedNotification }}</toast>
    -->

    <div class="d-flex align-start">
      <button class="red--background pr-2" @click="backToProjects">
        <v-icon size="28">mdi-arrow-left</v-icon>
      </button>
      <div>
        <h2 class="font-weight-light">{{projectName}}</h2>
        <sub class="grey--text subtitle-1">{{ $vuetify.lang.t('$vuetify.ivdr.articles.postMarketEvaluationSubtext') }}</sub>
      </div>
    </div>

    <!-- Do not display the export excel button until the API is available -->
    <div class="actions px-3 mt-5">
      <button class="px-3 py-3" @click="downloadExcel">
        <v-icon>mdi-tray-arrow-down</v-icon>
      </button>
    </div>

    <div style="max-width: 800px">
      <tab
        class="mt-4"
        :tabIndex="relevantTabActive ? 0 : 1"
        :tabs="[
          $vuetify.lang.t('$vuetify.ivdr.articles.relevantArticles').replace(/\$1/g, relevant.articlePayload.count),
          $vuetify.lang.t('$vuetify.ivdr.articles.nonRelevantArticles').replace(/\$1/g, nonRelevant.articlePayload.count)
        ]"
        @change="onTabChanged"
      />
    </div>

    <div v-if="activeTabHasResults" class="d-flex justify-end my-4">
      <button class="primary--text text-uppercase" @click="toggleAllExpanded">
        {{ activeTab.expandedAll ? $vuetify.lang.t('$vuetify.common.buttons.collapseAll') : $vuetify.lang.t('$vuetify.common.buttons.expandAll') }}
      </button>
    </div>

    <div v-if="loading" class="d-flex justify-center">
      <v-progress-circular indeterminate color="primary"></v-progress-circular>
    </div>
    <div v-if="!loading">
      <article-card
        v-for="data in activeTab.articlePayload.data"
        :key="data.article_id"
        :data="data"
        :isRelevant="relevantTabActive"
        :expanded="activeTab.expandedAll"
        @expanded="expandArticle"
        @badgeUpdate="updateBadge"
      />
    </div>

    <div v-if="activeTabHasResults">
      <pagination
        :length="totalPages"
        :totalVisible="10"
        :page="activeTab.searchParams.page"
        @pageSelect="onPageChange"
      />
    </div>
  </div>
</template>

<script>
import IvdrService from "@/modules/inVitroDiagnosticRegulations/services/IVDRService.js"
import ProjectService from "@/modules/projects/services/ProjectService";

import ArticleCard from '../components/ArticleCard.vue'
import {
  Pagination,
  Tab
  // Toast
} from 'ingestor-vue-components'

const RELEVANT = 'relevant'
const NONRELEVANT = 'nonRelevant'
const getActive = t => t ? RELEVANT : NONRELEVANT

export default {
  name: 'Article',
  components: {
    ArticleCard,
    Pagination,
    Tab
    // Toast
  },
  created() {
    this.getProject()
    this.searchArticles({}, RELEVANT)
    this.searchArticles({}, NONRELEVANT)
  },
  data () {
    return {
      needsUpdateOnTabSwitch: false,
      showNotVerified: true,
      showIngestedNotification: true,
      relevantTabActive: true,
      [RELEVANT]: {
        loading: true,
        expandedAll: false,
        searchParams: {
          sort_field: "publication_date",
          sort_order: "desc",
          size: 10,
          page: 1,
        },
        articlePayload: {
          count: 0,
          data: [],
          page: 1,
          size: 10
        }
      },
      [NONRELEVANT]: {
        loading: true,
        expandedAll: false,
        searchParams: {
          sort_field: "publication_date",
          sort_order: "desc",
          size: 10,
          page: 1,
        },
        articlePayload: {
          count: 0,
          data: [],
          page: 1,
          size: 10
        }
      },
      projectName: ""
    }
  },
  computed: {
    ingestedNotification () {
      const rawString = this.$vuetify.lang.t('$vuetify.ivdr.toast.ingestionStatus')
      const articleString = this.$vuetify.lang.t('$vuetify.ivdr.toast.article')
      const articlesString = this.$vuetify.lang.t('$vuetify.ivdr.toast.articles')

      const totalRelevantArticles = this[RELEVANT].articlePayload.count
      const totalNonRelevantArticles = this[NONRELEVANT].articlePayload.count

      // TODO: how is the total calculated exactly?
      const newArticles = totalRelevantArticles + totalNonRelevantArticles
      const relevantArticles = totalRelevantArticles

      if (newArticles === 0) {
        return ""
      }

      return rawString
        .replace(/\$1/g, newArticles)
        .replace(/\$3/g, newArticles === 1 ? articleString : articlesString)
        .replace(/\$2/g, relevantArticles)
        .replace(/\$4/g, relevantArticles === 1 ? articleString : articlesString)
    },
    totalRelevantPages () {
      return Math.ceil(this[RELEVANT].articlePayload.count / this[RELEVANT].articlePayload.size)
    },
    totalNonRelevantPages () {
      return Math.ceil(this[NONRELEVANT].articlePayload.count / this[NONRELEVANT].articlePayload.size)
    },
    totalPages () {
      return this.relevantTabActive ? this.totalRelevantPages : this.totalNonRelevantPages
    },
    activeTab () {
      return this[getActive(this.relevantTabActive)]
    },
    activeTabHasResults () {
      return !this.activeTab.loading && this.activeTab.articlePayload.count > 0
    },
    pageOf () {
      const active = this.relevantTabActive ? this[RELEVANT] : this[NONRELEVANT]
      const rawString = this.$vuetify.lang.t('$vuetify.ivdr.pagination.pageOf')
      return rawString
        .replace(/\$1/g, active.page)
        .replace(/\$2/g, active.totalPages)
    },
    loading () {
      return this[RELEVANT].loading || this[NONRELEVANT].loading
    }
  },
  methods: {
    downloadExcel () {
      return IvdrService.downloadExcel(this.$route.params.projectId)
    },
    updateArticle (articleId, data = {}, options = { noUpdate: false }) {
      const { noUpdate } = options
      // The same article may exist in both relevant and nonrelevant tabs
      let initialData
      const newArticle = [RELEVANT, NONRELEVANT].reduce((foundArticle, tab) => {
        const article = this[tab].articlePayload.data.find(article => article.article_id === articleId)

        let newArticle
        if (article) {
          this[tab] = {
            ...this[tab],
            articlePayload: {
              ...this[tab].articlePayload,
              data: this[tab].articlePayload.data.map(a => {
                if (a === article) {
                  initialData = a
                  newArticle = {
                    ...a,
                    ...data
                  }
                  return newArticle
                }
                return a
              })
            }
          }
        }
        return newArticle || foundArticle
      }, null)

      // On updating the badge,
      // go through the articles and determine if the total count is now technically different.
      if (noUpdate) {
        return newArticle
      }
      return IvdrService.updateArticle(
        this.$route.params.projectId,
        articleId,
        data
      )
        .then(() => {
          this.needsUpdateOnTabSwitch = true
          return newArticle
        })
        .catch(() => {
          // On error, just revert in the UI.
          // The back-end will track and log errors.
          return this.updateArticle(articleId, initialData, { noUpdate: true })
        })
    },
    updateBadge (articleId, data = {}) {
      // A badge update triggers a silent data reload (for now)
      // In the future this will do a client-side optimistic update immediately
      this.updateArticle(articleId, data)
    },
    onPageChange (page) {
      this.searchArticles({ page })
    },
    async searchArticles (params = {}, type = getActive(this.relevantTabActive), options = { silent: false }) {
      const { silent } = options
      const tab = this[type]

      if (!silent) {
        tab.loading = true
      }

      tab.searchParams = {
        ...tab.searchParams,
        ...params
      }

      return IvdrService.searchArticles(
          this.$route.params.projectId,
          {
            ...tab.searchParams,
            relevant: type === RELEVANT
          }
        ).then(async ({ data }) => {
          if (data.data.length === 0 && data.page > 1 && data.count > 0) {
            return (await this.searchArticles({
              ...params,
              page: Math.ceil(data.count / tab.searchParams.size)
            }, type))
          }
          this[type].articlePayload = data
          this[type].loading = false
        }).catch(() => {
          this[type].loading = false
        })
    },

    backToProjects() {
      this.$router.push('/projects')
    },
    toggleAllExpanded () {
      const active = this[getActive(this.relevantTabActive)]
      active.expandedAll = !active.expandedAll
    },
    expandArticle (
      // articleId
    ) {
      // There is currently no need to load the article individually
      // as the search request actually includes all the article data.

      // ProjectService.getArticle(this.$route.params.projectId, articleId)
      //   .then(({ data }) => {
      //     this.updateArticle(articleId, data)
      //   })
      //   .catch((error) => {
      //     console.error(error)
      //   })
    },
    onTabChanged (index) {
      if (this.needsUpdateOnTabSwitch) {
        this.needsUpdateOnTabSwitch = false
        this.searchArticles({}, RELEVANT)
        this.searchArticles({}, NONRELEVANT)
      }
      this.relevantTabActive = index === 0
    },
    closeNotVerified () {
      this.showNotVerified = false
    },
    closeIngestedNotification () {
      this.showIngestedNotification = false
    },
    getProject() {
      ProjectService.get(this.$route.params.projectId).then(response => {
        this.projectName = response.data.data.project_name
      })
    }
  }
}
</script>

<style lang="css">
  .v-slide-group__prev {
    display: none !important;
  }
</style>

<style lang="css" scoped>

h2 {
  font-size: 28px;
  line-height: 1.2;
}
.actions {
  background-color: #f4f4f4;
  border-radius: 4px;
  border: 1px solid rgb(0,0,0,.2);
}
.page-select {
  max-width: 4.75rem;
}

@media (max-width: 1000px) {
  .pagination-container {
    flex-direction: column;
  }
}
</style>
