<template>
  <svg
    :height="$attrs.height || '24'"
    :width="$attrs.width || '25'"
    :fill="$attrs.fill || '#000'"
    viewBox="0 0 25 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M12.28 17.75 3.95 8.5a.3.3 0 0 1 .22-.5h16.66c.26 0 .4.3.22.5l-8.33 9.25a.3.3 0 0 1-.44 0Z" />
  </svg>
</template>
