<template>
  <svg
    :height="$attrs.height || '24'"
    :width="$attrs.width || '25'"
    :fill="$attrs.fill || '#000'"
    viewBox="0 0 25 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="m12.72 7.25 8.33 9.25c.17.2.04.5-.22.5H4.17a.3.3 0 0 1-.22-.5l8.33-9.25a.3.3 0 0 1 .44 0Z" />
  </svg>
</template>
