<template>
  <svg
    :height="$attrs.height || '24'"
    :width="$attrs.width || '25'"
    :fill="$attrs.fill || '#000'"
    viewBox="0 0 25 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M12.2 6.3a1 1 0 0 1 0 1.4L7.92 12l4.3 4.3a1 1 0 0 1-1.42 1.4l-5-5a1 1 0 0 1 0-1.4l5-5a1 1 0 0 1 1.42 0Z" />
    <path d="M19.2 6.3a1 1 0 0 1 0 1.4L14.92 12l4.3 4.3a1 1 0 0 1-1.42 1.4l-5-5a1 1 0 0 1 0-1.4l5-5a1 1 0 0 1 1.42 0Z" />
  </svg>
</template>

