<template>
  <svg 
    :height="$attrs.height || '40'"
    :width="$attrs.width || '40'"
    :fill="$attrs.fill || '#48009e'"
    viewBox="0 0 10 10"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="
        M5 0
        a 5 5 0 0 1 5 5
        a 5 5 0 0 1 -10 0
        a .5 .5 0 0 1 1 0
        a 4 4 0 0 0 8 0
        a 4 4 0 0 0 -4 -4
        a .5 .5 0 0 1 0 -1
        Z
      "
    >
      <animateTransform attributeName="transform"
          type="rotate"
          from="0 5 5"
          to="360 5 5"
          dur="1200ms"
          repeatCount="indefinite"
      />
    </path> 
  </svg>
</template>